[Desktop Entry]
Name=Artwork PDF Import Filter
Name[bg]=Филтър за внасяне от PDF в Artwork
Name[bs]=Artwork PDF unosni Filter
Name[ca]=Filtre d'importació PDF per al Artwork
Name[ca@valencia]=Filtre d'importació PDF per al Artwork
Name[cs]=Importní filtr PDF pro Artwork
Name[da]=PDF-importfilter til Artwork
Name[de]=Artwork-PDF-Importfilter
Name[el]=Φίλτρο εισαγωγής PDF του Artwork
Name[en_GB]=Artwork PDF Import Filter
Name[es]=Filtro de Artwork de importación de PDF
Name[et]=Artworki PDF-i impordifilter
Name[fi]=Artwork PDF -tuontisuodin
Name[fr]=Filtre d'importation PDF de Artwork
Name[ga]=Scagaire Iompórtála Artwork PDF
Name[gl]=Filtro de Importación de PDF para Artwork 
Name[he]=מסנן ייבוא מ־PDF ל־Artwork
Name[hne]=कार्बन पीडीएफ आयात फिल्टर
Name[it]=Filtro di importazione PDF per Artwork
Name[ja]=Artwork PDF インポートフィルタ
Name[kk]=PDF -> Artwork импорт сүзгісі
Name[lv]=Artwork PDF importa filtrs
Name[nb]=PDF-importfilter for Artwork 
Name[nds]=PDF-Importfilter för Artwork
Name[nl]=PDF-importfilter voor Artwork
Name[pl]=Filtr importu formatu PDF do Artwork
Name[pt]=Filtro de Importação de PDF para o Artwork
Name[pt_BR]=Filtro de Importação PDF para o Artwork
Name[ro]=Filtru importare Artwork pentru PDF
Name[ru]=Фильтр импорта файлов PDF в Artwork
Name[sl]=Uvozni filter PDF za Artwork
Name[sv]=Artwork PDF-importfilter
Name[tr]=Artwork PDF İçeriye Aktarma Filtresi
Name[uk]=Фільтр імпорту PDF до Artwork
Name[wa]=Passete d' abagaedje PDF di Artwork
Name[x-test]=xxArtwork PDF Import Filterxx
Name[zh_CN]=Artwork PDF 导入过滤器
Name[zh_TW]=Artwork PDF 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/svg+xml
X-KDE-Import=application/pdf
X-KDE-Library=artworkpdfimport
X-KDE-Weight=1
NoDisplay=true
