[Desktop Entry]
Name=Artwork PDF Import Filter
Name[cs]=Grafický importní filtr PDF
Name[da]=Artwork PDF-importfilter
Name[de]=Artwork-PDF-Importfilter
Name[es]=Filtro de importación de PDF para Artwork
Name[et]=Artworki PDF-i impordifilter
Name[eu]=Artelanak PDFtik inportatzeko iragazkia
Name[ga]=Scagaire Iompórtála PDF Artwork
Name[kk]=PDF -> Artwork импорт сүзгісі
Name[lt]=Artwork PDF importavimo filtras
Name[nb]=PDF-importfilter for Artwork
Name[nds]=PDF-Importfilter för Artwork
Name[nl]=PDF-importfilter voor Artwork
Name[pl]=Filtr importu formatu PDF do Artwork
Name[pt]=Filtro de Importação de PDF para o Artwork
Name[pt_BR]=Filtro de Importação PDF para o Artwork
Name[sv]=Artwork PDF-importfilter
Name[uk]=Фільтр імпорту PDF до Artwork
Name[x-test]=xxArtwork PDF Import Filterxx
Name[zh_TW]=Artwork PDF 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/svg+xml
X-KDE-Import=application/pdf
X-KDE-Library=artworkpdfimport
X-KDE-Weight=1
NoDisplay=true
