[Desktop Entry]
Name=Artwork PDF Import Filter
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/svg+xml
X-KDE-Import=application/pdf
X-KDE-Library=artworkpdfimport
X-KDE-Weight=1
NoDisplay=true
