[Desktop Entry]
Type=Service
Name=Artwork EPS Import Filter
X-KDE-Export=image/svg+xml,application/illustrator
X-KDE-Import=image/x-eps,image/eps,application/eps,application/x-eps,application/postscript
X-KDE-Weight=1
X-KDE-Library=artworkepsimport
X-KDE-ServiceTypes=KOfficeFilter
