[Desktop Entry]
Type=Service
Name=Artwork EPS Export Filter
Name[af]=Artwork Eps Voer uit Filter
Name[be]=Фільтр экспарту малюнкаў Artwork у EPS
Name[bg]=Филтър за изнасяне от Artwork в EPS
Name[br]=Sil ezporzh EPS evit Artwork
Name[bs]=Artwork EPS Filter za slanje
Name[ca]=Filtre d'exportació EPS per al Artwork
Name[ca@valencia]=Filtre d'exportació EPS per al Artwork
Name[cs]=Exportní filtr do formátu EPS pro Artwork
Name[cy]=Hidlen Allforio EPS Artwork
Name[da]=Artwork EPS-eksportfilter
Name[de]=Artwork-EPS-Exportfilter
Name[el]=Φίλτρο εξαγωγής EPS του Artwork
Name[en_GB]=Artwork EPS Export Filter
Name[eo]=Artwork-EPS-eksportfiltrilo
Name[es]=Filtro de Artwork de exportación a EPS
Name[et]=Artwork EPS-i ekspordifilter
Name[eu]=Artwork-en EPS esportaziorako iragazkia
Name[fa]=پالایۀ صادرات Artwork EPS
Name[fi]=Artwork EPS -vientisuodin
Name[fr]=Filtre d'exportation EPS de Artwork 14
Name[fy]=EPS-eksportfilter foar Artwork 
Name[ga]=Scagaire Easpórtála EPS Artwork
Name[gl]=Filtro de Exportación de EPS para Artwork
Name[he]=מסנן ייצוא מ־Artwork ל־EPS
Name[hi]=कार्बन१४ ईपीएस निर्यात फ़िल्टर
Name[hne]=कार्बन१४ ईपीएस निर्यात फिल्टर
Name[hr]=Artwork EPS filtar izvoza
Name[hu]=Artwork EPS exportszűrő
Name[is]=Artwork EPS útflutningssía
Name[it]=Filtro di esportazione EPS per Artwork
Name[ja]=Artwork EPS エクスポートフィルタ
Name[kk]=Artwork -> EPS экспорт сүзгісі
Name[lt]=Artwork EPS eksportavimo filtras
Name[lv]=Artwork EPS eksporta filtrs
Name[ms]=Penapis Eksport Artwork EPS
Name[nb]=EPS-eksportfiler for Artwork 
Name[nds]=EPS-Exportfilter för Artwork
Name[ne]=कार्बन१४ ईपीएस निर्यात फिल्टर
Name[nl]=EPS-exportfilter voor Artwork 
Name[pl]=Filtr eksportu do formatu EPS z Artwork
Name[pt]=Filtro de Exportação de EPS para o Artwork
Name[pt_BR]=Filtro de Exportação EPS para o Artwork
Name[ro]=Filtru exportare Artwork pentru EPS
Name[ru]=Фильтр экспорта рисунков Artwork в EPS
Name[se]=Artwork:a EPS-olggosfievrridansilli
Name[sk]=EPS filter pre export z Artwork
Name[sl]=Izvozni filter EPS za Artwork
Name[sv]=Artwork EPS-exportfilter
Name[ta]=கார்பன் 14 இபிஎஸ் வடிகட்டி ஏற்றுமதி 
Name[tg]=Филтри содиротии Artwork EPS
Name[tr]=Artwork EPS Aktarma Filtresi
Name[uk]=Фільтр експорту EPS для Artwork
Name[uz]=Artwork EPS eksport filteri
Name[uz@cyrillic]=Artwork EPS экспорт филтери
Name[wa]=Passete d' ebagaedje EPS di Artwork
Name[xh]=Isihluzi Sokurhweba ngaphandle se Artwork EPS
Name[x-test]=xxArtwork EPS Export Filterxx
Name[zh_CN]=Artwork EPS 导出过滤器
Name[zh_TW]=Artwork EPS 匯出過濾程式
X-KDE-Export=image/x-eps
X-KDE-Import=application/x-artwork
X-KDE-Weight=1
X-KDE-Library=artworkepsexport
X-KDE-ServiceTypes=KOfficeFilter
