[Desktop Entry]
Type=Service
Name=Artwork EPS Import Filter
Name[bs]=Artwork EPS uvozni Filter
Name[cs]=Grafický importní filtr EPS
Name[da]=Artwork EPS-importfilter
Name[de]=Artwork-EPS-Importfilter
Name[es]=Filtro de importación de EPS para Artwork
Name[et]=Artworki EPS-i impordifilter
Name[eu]=Artelanak EPStik inportatzeko iragazkia
Name[fi]=Artwork EPS -tuontisuodin
Name[fr]=Filtre d'importation EPS de Artwork
Name[ga]=Scagaire Iompórtála EPS Artwork
Name[hu]=Artwork EPS importszűrő
Name[ja]=Artwork EPS インポートフィルタ
Name[kk]=EPS -> Artwork импорт сүзгісі
Name[lt]=Artwork EPS importavimo filtras
Name[nb]=EPS-importfilter for Artwork
Name[nds]=EPS-Importfilter för Artwork
Name[nl]=EPS-importfilter voor Artwork
Name[pl]=Filtr importu formatu EPS do Artwork
Name[pt]=Filtro de Importação de EPS para o Artwork
Name[pt_BR]=Filtro de Importação EPS para o Artwork
Name[sk]=EPS filter pre import z Artwork
Name[sv]=Artwork EPS-exportfilter
Name[uk]=Фільтр експорту EPS для Artwork
Name[x-test]=xxArtwork EPS Import Filterxx
Name[zh_TW]=Artwork EPS 匯出過濾程式
X-KDE-Export=image/svg+xml,application/illustrator
X-KDE-Import=image/x-eps,image/eps,application/eps,application/x-eps,application/postscript
X-KDE-Weight=1
X-KDE-Library=artworkepsimport
X-KDE-ServiceTypes=KOfficeFilter
