[Desktop Entry]
Type=Service
Name=PPT Import Filter for Showcase
Name[bg]=Филтър за импортиране от PPT в Showcase
Name[ca]=Filtre d'importació PPT per al Showcase
Name[ca@valencia]=Filtre d'importació PPT per al Showcase
Name[cs]=Importní filtr PPT pro Showcase
Name[da]=PPT-importfilter til Showcase
Name[de]=PPT-Importfilter für Showcase
Name[el]=Φίλτρο εισαγωγής PPT για το Showcase
Name[en_GB]=PPT Import Filter for Showcase
Name[es]=Filtro de Showcase de importación de PPT
Name[et]=Showcasei PPT impordifilter
Name[fi]=PPT-tuontisuodin Showcaseille
Name[fr]=Filtre d'importation PPT pour Showcase
Name[ga]=Scagaire Iompórtála PPT le haghaidh Showcase
Name[gl]=Filtro de Importación de PPT para Showcase 
Name[it]=Filtro di importazione PPT per Showcase
Name[ja]=Showcase PPT インポートフィルタ
Name[nb]=PPT-importfilter for Showcase
Name[nds]=PPT-Importfilter för Showcase
Name[nl]=PPT-importfilter voor Showcase
Name[pt]=Filtro de Importação de PPT para o Showcase
Name[pt_BR]=Filtro de importação PPT para o Showcase
Name[ru]=Фильтр импорта презентаций PPT в Showcase
Name[sv]=PPT-importfilter för Kpresenter
Name[tr]=Showcase için PPT İçeriye Aktarma Filtresi
Name[uk]=Фільтр імпорту PPT для Showcase
Name[wa]=Passete d' abagaedje PPT po Showcase
Name[x-test]=xxPPT Import Filter for Showcasexx
Name[zh_CN]=Showcase 的 PPT 导入过滤器
Name[zh_TW]=Showcase 的 PPT 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Import=application/vnd.ms-powerpoint
X-KDE-Weight=1
X-KDE-Library=oopptimport
X-KDE-ServiceTypes=KOfficeFilter
