[Desktop Entry]
Type=Service
Name=PPT Import Filter for Showcase
Name[et]=Showcase'i PPT impordifilter
Name[pt]=Filtro de Importação de PPT para o Showcase
Name[pt_BR]=Filtro de importação de PPT para o Showcase
Name[sv]=PPT-importfilter för Showcase
Name[uk]=Фільтр імпорту PPT для Showcase
Name[x-test]=xxPPT Import Filter for Showcasexx
Name[zh_TW]=Showcase 的 PPT 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Import=application/vnd.ms-powerpoint
X-KDE-Weight=1
X-KDE-Library=oopptimport
X-KDE-ServiceTypes=KOfficeFilter
