[Desktop Entry]
Name=KOffice Workspace
Name[af]=Koffice Werkspasie
Name[ar]=بيئة عمل KOffice
Name[az]=KOffice İş Sahəsi
Name[bg]=Работна среда за KOffice
Name[br]=Egor labour KOffice
Name[bs]=KOffice radna okolina
Name[ca]=Área de treball KOffice
Name[cs]=Pracovní plocha KOffice
Name[da]=KOffice-arbejdsplads
Name[de]=KOffice-Arbeitsbereich
Name[el]=Χώρος Εργασίας KOffice
Name[eo]=Laborkadro
Name[es]=Área de trabajo de KOffice
Name[et]=KOffice töölaud
Name[eu]=KOffice Langunea
Name[fi]=KOffice työtila
Name[fr]=Atelier KOffice
Name[gl]=Área de Traballo de KOffice
Name[he]=סביבת העבודה של KOffice
Name[hr]=KOffice radni okoliš
Name[hu]=KOffice dokumentumkezelő
Name[id]=Ruang kerja KOffice
Name[is]=KOffice vöndullinn
Name[it]=Spazio di lavoro di KOffice
Name[ja]=KOfficeワークスペース
Name[ko]=K사무용 작업 공간
Name[lt]=KOffice darbo aplinka
Name[lv]=KOffice Darbavieta
Name[mk]=Работен простор за KOffice
Name[mt]=Spazju tax-Xogħol KOffice
Name[nb]=KOffice-arbeidsområde
Name[nl]=KOffice-werkplek
Name[nn]=KOffice-arbeidsområde
Name[oc]=Ã?rea de treball KOffice
Name[pl]=Pracownia KOffice
Name[pt]=Espaço de Trabalho do KOffice
Name[pt_BR]=Espaço de trabalho KOffice
Name[ro]=Spaţiu de lucru KOffice
Name[ru]=Рабочая среда KOffice
Name[sk]=Pracovný priestor KOffice
Name[sl]=Delovni prostor KOffice
Name[sv]=Koffice arbetsyta
Name[ta]=KOffice À½¢ì¸½¢É¢
Name[th]=พื้นที่การทำงาน KOffice
Name[tr]=KOffice Çalışma Ortamı
Name[uk]=Робочій простір KOffice
Name[ven]=Tshikhala tshau shuma tsha ofisi ya K
Name[vi]=Không gian làm việc của KOffice
Name[xh]=Isithuba somsebenzi se KOffice
Name[xx]=xx
Name[zh_CN]=KOffice 工作空间
Name[zh_TW]=KOffice 工作空間
Name[zu]=Isikhala somsebenzi se KOffice
Exec=koshell
DocPath=koshell/index.html
Comment=KOffice Multi-Document Window
Comment[af]=Koffice Multi-dokument Venster
Comment[az]=KOffice Çoxlu Sənəd Pəncərəsi
Comment[br]=Prenestr liesteul KOffice
Comment[bs]=KOffice prozor za više dokumenata
Comment[ca]=Finestra multidocument de KOffice
Comment[cs]=Okno s vícero dokumenty Koffice
Comment[da]=KOffice multidokument vindue
Comment[de]=KOffice-Multidokument-Fenster
Comment[el]=KOffice - Παράθυρο Πολλαπλών Εγγράφων
Comment[eo]=KOficejo - multdosiera fenestro
Comment[es]=Ventana de documentos múltiples de KOffice
Comment[fr]=Fenêtre multi-documents de KOffice
Comment[gl]=Fiestra Multi-Documento de KOffice
Comment[he]=חלון מרובה מסמכים של KOffice
Comment[hr]=KOffice prozor sa više dokumenata
Comment[hu]=KOffice többdokumentumos ablak
Comment[id]=Jendela Multi-Dokumen KOffice
Comment[is]=KOffice fjölskjalagluggi
Comment[it]=Finestra multidocumento di KOffice
Comment[ja]=KOfficeマルチドキュメントウィンドウ
Comment[ko]=K사무용 여러 문서를 열 수 있는 창
Comment[lt]=KOffice multi-dokumentų langas
Comment[lv]=KOffice Daudz-Dokumentu Logs
Comment[mk]=KOffice прозор по повеќе документи
Comment[nl]=KOffice Multidocument Venster
Comment[oc]=Finestra multidocument de KOffice
Comment[pl]=Okno wielodokumentowe KOffice
Comment[pt]=Janela Multi-Documentos do KOffice
Comment[pt_BR]=Janela Multi-Documentos do KOffice
Comment[ru]=Окно многооконного интерфейса KOffice
Comment[sk]=Okno s viacerými dokumentmi Koffice
Comment[sl]=Večdokumentno okno KOffice
Comment[sv]=Koffice-flerdokumentsfönster
Comment[uk]=вікно для багатьох документів KOffice
Comment[ven]=Windo ya manwalwa manzhi ya ofisi ya K
Comment[vi]=Cửa sổ đa tài liệu của KOffice
Comment[xh]=Amaxwebhu Amaninzi Efestile ye KOffice
Comment[zu]=KOffice Enamaningi-Amawindi Idokhumenti
Type=Application
Icon=koshell
X-KDE-StartupNotify=true
