[Desktop Entry]
Type=Service
Name=OpenOffice.org Impress Import Filter for Showcase
Name[et]=Showcase'i OpenOffice.org Impressi impordifilter
Name[pt]=Filtro de Importação de OpenOffice.org Impress para o Showcase
Name[pt_BR]=Filtro de importação de OpenOffice.org Impress para o Showcase
Name[sv]=OpenOffice Impress-importfilter för Showcase
Name[uk]=Фільтр імпорту презентацій OpenOffice.org для Showcase
Name[x-test]=xxOpenOffice.org Impress Import Filter for Showcasexx
Name[zh_TW]=Showcase 的 OpenOffice.org Impress 匯入過濾程式
X-KDE-Export=application/x-kpresenter
X-KDE-Import=application/vnd.sun.xml.impress,application/vnd.sun.xml.impress.template
X-KDE-Weight=1
X-KDE-Library=ooimpressimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
