[Desktop Entry]
Type=Service
Name=OpenOffice.org Impress Export Filter for Showcase
X-KDE-Export=application/vnd.sun.xml.impress
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Library=ooimpressexport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
