[Desktop Entry]
Type=Service
Name=OpenOffice.org Impress Import Filter for Showcase
Name[bg]=Филтър за импортиране от OpenOffice.org Impress в Showcase
Name[br]=Sil enporzh OpenOffice.org Impress evit Showcase
Name[ca]=Filtre d'importació OpenOffice.org Impress per al Showcase
Name[ca@valencia]=Filtre d'importació OpenOffice.org Impress per al Showcase
Name[cs]=OpenOffice.org Impress importní filtr pro Showcase
Name[cy]=Hidlen Fewnforio OpenOffice.org Impress i Showcase
Name[da]=OpenOffice.org Impress importfilter til Showcase
Name[de]=Showcase-OpenOffice.org-Impress-Importfilter
Name[el]=Φίλτρο εισαγωγής OpenOffice.org Impress για το Showcase
Name[en_GB]=OpenOffice.org Impress Import Filter for Showcase
Name[es]=Filtro de Showcase de importación de OpenOffice.org Impress
Name[et]=Showcasei OpenOffice.org Impressi impordifilter
Name[eu]=Showcase-en OpenOffice.org Impress inportaziorako iragazkia
Name[fa]=پالایۀ صادرات OpenOffice.org Impress برای Showcase
Name[fi]=OpenOffice.org Impress -tuontisuodin Showcaseille
Name[fr]=Filtre d'importation OpenOffice.org Impress pour Showcase
Name[fy]=OpenOffice.org Impress-Ymportfilter foar Showcase
Name[ga]=Scagaire Iompórtála OpenOffice.org Impress le haghaidh Showcase
Name[gl]=Filtro de Importación de OpenOffice.org Impress para Showcase
Name[he]=מסנן ייבוא מ־OpenOffice.org Impress ל־Showcase
Name[hi]=केप्रेजेन्टर के लिए ओपनऑफ़िस.ऑर्ग इम्प्रेस आयात फ़िल्टर
Name[hne]=केप्रेजेन्टर बर ओपनआफिस.ओर्ग इम्प्रेस आयात फिल्टर
Name[hr]=OpenOffice.org Impress filtar uvoza za Showcase
Name[hu]=OpenOffice Impress importszűrő a Showcasehez
Name[is]=OpenOffice.org Impress innflutningssía fyrir Showcase
Name[it]=Filtro di importazione OpenOffice.org Impress per Showcase
Name[ja]=Showcase OpenOffice.org Impress インポートフィルタ
Name[kk]=OpenOffice.org Impress -> Showcase импорт сүзгісі
Name[lt]=OpenOffice.org Impress importavimo filtras skirtas Showcase
Name[lv]=OpenOffice.org Impress importa filtrs priekš Showcase
Name[ms]=Penapis Import OpenOffice.org Impress bagi Showcase
Name[nb]=OpenOffice.org Impress-importfilter for Showcase
Name[nds]="OpenOffice.org Impress"-Importfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ताका लागि ओपनअफिस डट अर्ग इम्प्रेस आयात फिल्टर
Name[nl]=OpenOffice.org Impress-importfilter voor Showcase
Name[pl]=Filtr importu z OpenOffice.org Impress dla KSpread
Name[pt]=Filtro de Importação de OpenOffice.org Impress para o Showcase
Name[pt_BR]=Filtro de Importação OpenOffice.org Impress para o Showcase
Name[ru]=Фильтр импорта презентаций OpenOffice.org Impress в Showcase
Name[se]=Showcase:a OpenOffice.org Impress-sisafievrridansilli
Name[sk]=Filter pre import OpenOffice.org Impress pre Showcase
Name[sl]=Uvozni filter OpenOffice.org Impress za Showcase
Name[sv]=OpenOffice Impress-importfilter för Kpresenter
Name[ta]=கேபிரஸன்டருக்கான ஓபன்ஆபிஸ்.ஆர்கின் இறக்குமதி வடிகட்டி
Name[tg]=Филтри воридотии OpenOffice.org Impress барои Showcase
Name[tr]=Showcase için OpenOffice.org Impress Alma Filtresi
Name[uk]=Фільтр імпорту презентацій OpenOffice.org для Showcase
Name[uz]=Showcase uchun OpenOffice.org Impress import filteri
Name[uz@cyrillic]=Showcase учун OpenOffice.org Impress импорт филтери
Name[wa]=Passete d' abagaedje OpenOffice.org Impress po Showcase
Name[xh]=OpenOffice.org Iphawula Isihluzi Sorhwebo se Showcase
Name[x-test]=xxOpenOffice.org Impress Import Filter for Showcasexx
Name[zh_CN]=Showcase 的 OpenOffice.org Impress 导入过滤器
Name[zh_TW]=Showcase 的 OpenOffice.org Impress 匯入過濾程式
X-KDE-Export=application/x-kpresenter
X-KDE-Import=application/vnd.sun.xml.impress,application/vnd.sun.xml.impress.template
X-KDE-Weight=1
X-KDE-Library=ooimpressimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
