[Desktop Entry]
Type=Service
Name=OpenOffice.org Impress Export Filter for Showcase
Name[pt]=Filtro de Exportação de OpenOffice.org Impress para o Showcase
Name[pt_BR]=Filtro de exportação de OpenOffice.org Impress para o Showcase
Name[sv]=OpenOffice.org Impress-exportfilter för Showcase
Name[uk]=Фільтр експорту презентацій OpenOffice.org для Showcase
Name[x-test]=xxOpenOffice.org Impress Export Filter for Showcasexx
X-KDE-Export=application/vnd.sun.xml.impress
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Library=ooimpressexport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
