[Desktop Entry]
Type=Service
Name=OpenOffice.org Impress Import Filter for Showcase
X-KDE-Export=application/x-kpresenter
X-KDE-Import=application/vnd.sun.xml.impress,application/vnd.sun.xml.impress.template
X-KDE-Weight=1
X-KDE-Library=ooimpressimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
