[Desktop Entry]
Type=Service
Name=Kontour WMF Import Filter
Name[af]=Kontoer Wmf In voer Filter
Name[ar]=استيراد من WMF الى Kontour
Name[az]=Kontour WMF Alma Süzgəci
Name[be]=Фільтар Kontour імпарту з WMF
Name[bg]=Филтър за импорт на файлове на WMF към Контур
Name[cs]=Importní filtr WMF pro Kontour
Name[da]=Kontour WMF Import-filter
Name[de]=Kontour-Importfilter für WMF-Dateien
Name[el]=Φίλτρο Εισαγωγής WMF του Kontour
Name[eo]=WMF-importfiltrilo por Konturilo
Name[es]=Filtro de importación WMF de Kontour
Name[et]=Kontouri WMF import filter
Name[eu]=Kontour WMF Inportatzeko Iragazkia
Name[fi]=Kontour WMF-tuontisuodin
Name[fr]=Filtre d'importation WMF de Kontour
Name[he]=מסנן ייבוא WMF ל-Kontour
Name[hu]=Kontour WMF importszűrő
Name[is]=WMF innflutningssía fyrir Kontour forritið
Name[it]=Filtro di importazione WMF per Kontour
Name[ja]=Kontour WMF インポートフィルター
Name[lt]=Kontour filtras importuoti WMF
Name[lv]=Kontour WMF Importa Filtrs
Name[nb]=WMF-importfilter for Kontour
Name[nl]=Kontour WMF Importfilter
Name[nn]=WMF-importfilter for Kontour
Name[pl]=Filtr importujący pliki WMF do Kontoura
Name[pt]=Filtro de Importação de WMF do Kontour
Name[pt_BR]=Filtro de importação WMF para o Kontour
Name[ro]=Filtru importare Kontour pentru WMF
Name[ru]=Фильтр импорта файлов WMF в Kontour
Name[sk]=WMF filter pre import pre Kontour
Name[sl]=Uvozni filter WMF za Kontour
Name[sv]=Kontour WMF-importfilter
Name[ta]=Kontour WMF ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=Kontour WMF Alma Süzgeci
Name[uk]=Фільтр імпорту WMF для Kontour
Name[ven]=Filithara yau dzhenisa ya Kontour WMF
Name[vi]=Trình lọc nhập WMF cho Kontour
Name[xh]=Kontour WMF Icebo lokucoca lorhwebo langaphakathi
Name[xx]=xx
Name[zh_CN]=Kontour WMF 导入过滤程序
Name[zh_TW]=Kontour WMF 匯入過濾程式
Export=application/x-kontour
Import=image/x-wmf
Implemented=file
X-KDE-Library=libwmfimport
ServiceTypes=KOfficeFilter
