[Desktop Entry]
Name=Showcase
Name[bg]=Showcase
Name[ca]=Showcase
Name[ca@valencia]=Showcase
Name[cs]=Showcase
Name[da]=Showcase
Name[de]=Showcase
Name[es]=Showcase
Name[et]=Showcase
Name[eu]=Showcase
Name[kk]=Showcase
Name[nb]=Showcase
Name[nds]=Showcase
Name[nl]=Showcase
Name[pl]=Pokaz
Name[pt]=Showcase
Name[pt_BR]=Showcase
Name[sv]=Showcase
Name[uk]=Showcase
Name[x-test]=xxShowcasexx
Name[zh_TW]=Showcase
X-KDE-Library=showcasepart
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/x-kpresenter;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.openxmlformats-officedocument.presentationml.template;
Type=Service
X-KDE-ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.presentation
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.presentation
X-KDE-ExtraNativeMimeTypes=application/vnd.oasis.opendocument.presentation-template
Icon=kpresenter
