[Desktop Entry]
Type=Service
Name=KWord WordPerfect Import Filter
Name[af]=Kword Wordperfect In voer Filter
Name[ar]=استيراد من WordPerfect الى KWord
Name[az]=KWord WordPerfect Qeyd Süzgəci
Name[be]=Фільтар KWord экспарту ў WordPerfect
Name[cs]=KWord WordPerfect importní filtr
Name[da]=KWord WordPerfect Import-filter
Name[de]=WordPerfect-Importfilter für KWord
Name[el]=Φίλτρο Εισαγωγής WordPerfect του KWord
Name[eo]=WordPerfect-importfiltrilo por Verkilo
Name[es]=Filtro de importación WordPerfect de KWord
Name[et]=KWordi WordPerfect import filter
Name[eu]=KWord WordPerfect Inportatzeko Iragazkia
Name[fi]=KWord WordPerfect-tuontisuodin
Name[fr]=Filtre d'importation WordPerfect de KWord
Name[he]=מסנן ייבוא WordPerfect ל-KWord
Name[hu]=KWord WordPerfect importszűrő
Name[is]=WordPerfect innflutningssía fyrir KWord
Name[it]=Filtro di importazione WordPerfect per KWord
Name[ja]=KWord WordPerfect インポートフィルター
Name[ko]=K글틀에서 워드 퍼펙트 파일을 가져올 때 쓰는 거르개
Name[lt]=KWord WordPerfect importo filtras
Name[lv]=KWord WordPerfect Importa Filtrs
Name[nb]=Word Perfect-importfilter for KWord
Name[nl]=KWord WordPerfect Importfilter
Name[nn]=Word Perfect-importfilter for KWord
Name[pl]=Filtr importujący z formatu WordPerfecta do KWorda
Name[pt]=Filtro de importação do WordPerfect para o KWord
Name[pt_BR]=Filtro de importação do KWord para o  WordPerfect 
Name[ro]=Filtru impotare KWord pentru WordPerfect
Name[ru]=Фильтр импорта из WordPerfect в KWord
Name[sk]=AbiWord filter pre import do KWord
Name[sl]=Uvozni filter WordPerfect za KWord
Name[sv]=Kword-importfilter för WordPerfect
Name[ta]=KWord WordPerfect ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KWord WordPerfect Aktarma Filtresi
Name[uk]=Фільтр імпорту WordPerfect для KWord
Name[ven]=Maipfi a K maipfi a vhukuma Filithara ya import
Name[vi]=Trình lọc nhập WordPerfect của KWord
Name[xh]=KWord WordPerfect Icebo lokucoca lorhwebo langaphakathi
Name[xx]=xx
Name[zh_CN]=KWord WordPerfect 导入过滤程序
Name[zh_TW]=KWord WordPerfect 匯入過濾程式
Name[zu]=KWord WordPerfect Icebo Lefayela yemininingwane yokuhlaziya Uhwebo Langaphakathi
Export=application/x-kword
Import=application/wordperfect
Implemented=file
X-KDE-Library=libwpimport
ServiceTypes=KOfficeFilter
