[Desktop Entry]
Type=Service
Name=KCells Microsoft Excel Export Filter
Name[bg]=Филтър за внасяне от Microsoft Excel в KCells
Name[ca]=Filtre d'importació Microsoft Excel per al KCells
Name[ca@valencia]=Filtre d'importació Microsoft Excel per al KCells
Name[cs]=Exportní filtr Microsoft Excel pro KCells
Name[da]=KCells Microsoft Excel eksportfilter
Name[de]=KCells-MS-Excel-Exportfilter
Name[et]=KCellsi Microsoft Exceli ekspordifilter
Name[eu]=KCells-en iragazkia Microsoft Excel-era esportatzeko
Name[kk]=KCells-> Microsoft Excel экспорт сүзгісі
Name[nb]=Microsoft Excel-eksportfilter for KCells
Name[nds]=Microsoft Excel-Exportfilter för KCells
Name[nl]=Microsoft Excell-exportfilter voor KCells
Name[pl]=Filtr importu formatu Microsoft Excel do KCells
Name[pt]=Filtro de Exportação de Microsoft Excel para o KCells
Name[pt_BR]=Filtro de Exportação Microsoft Excel para o KCells
Name[sv]=Microsoft Excel-exportfilter för Kcells
Name[uk]=Фільтр експорту до формату Microsoft Excel для KCells
Name[x-test]=xxKCells Microsoft Excel Export Filterxx
Name[zh_TW]=KCells Microsoft Excel 匯出過濾程式
X-KDE-Import=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Export=application/vnd.ms-excel
X-KDE-Weight=1
X-KDE-Library=excelexport
X-KDE-ServiceTypes=KOfficeFilter
