[Desktop Entry]
Type=Service
Name=KCells Microsoft Excel Export Filter
Name[nl]=Microsoft Excell-exportfilter voor KCells
Name[pt]=Filtro de Exportação de Microsoft Excel para o KCells
Name[sv]=Microsoft Excel-exportfilter för Kcells
Name[uk]=Фільтр експорту до формату Microsoft Excel для KCells
Name[x-test]=xxKCells Microsoft Excel Export Filterxx
Name[zh_TW]=KCells Microsoft Excel 匯出過濾程式
X-KDE-Import=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Export=application/vnd.ms-excel
X-KDE-Weight=1
X-KDE-Library=excelexport
X-KDE-ServiceTypes=KOfficeFilter
