[Desktop Entry]
Icon=
Name=Artwork WMF Export Filter
Name[da]=Artwork WMF-eksportfilter
Name[de]=Artwork-WML-Exportfilter
Name[nl]=WMF-exportfilter voor Artwork
Name[pt]=Filtro de Exportação de WML para o Artwork
Name[pt_BR]=Filtro de Exportação WMF para o Artwork
Name[sv]=Artwork WMF-exportfilter
Name[uk]=Фільтр експорту WML до Artwork
Name[x-test]=xxArtwork WMF Export Filterxx
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/x-wmf
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Weight=1
X-KDE-Library=wmfexport

