[Desktop Entry]
Type=Service
Name=Artwork WMF Import Filter
Name[da]=Artwork WMF-importfilter
Name[de]=Artwork-WMF-Importfilter
Name[pt]=Filtro de Importação de WMF para o Artwork
Name[pt_BR]=Filtro de importação de WMF para o Artwork
Name[sv]=Artwork WMF-importfilter
Name[uk]=Фільтр імпорту WMF до Artwork
Name[x-test]=xxArtwork WMF Import Filterxx
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/x-wmf
X-KDE-Weight=1
X-KDE-Library=wmfimport
X-KDE-ServiceTypes=KOfficeFilter
