[Desktop Entry]
Icon=
Name=Artwork WMF Export Filter
Name[bg]=Филтър за изнасяне от Artwork в WMF
Name[br]=Sil ezporzh WMF evit Artwork
Name[bs]=Artwork WMF izvozni Filter
Name[ca]=Filtre d'exportació WMF per al Artwork
Name[ca@valencia]=Filtre d'exportació WMF per al Artwork
Name[cs]=Exportní filtr do formátu WMF pro Artwork
Name[cy]=Hidlen Allforio WMF Artwork
Name[da]=Artwork WMF-eksportfilter
Name[de]=Artwork-WMF-Exportfilter
Name[el]=Φίλτρο εξαγωγής WMF του Artwork
Name[en_GB]=Artwork WMF Export Filter
Name[eo]=Artwork-WMF-eksportfiltrilo
Name[es]=Filtro de Artwork de exportación a WMF
Name[et]=Artwork WMF-i ekspordifilter
Name[eu]=Artwork-en WMF esportaziorako iragazkia
Name[fa]=پالایۀ صادرات Artwork WMF
Name[fi]=Artwork WMF -vientisuodin
Name[fr]=Filtre d'exportation WMF de Artwork 14
Name[fy]=WMF-eksportfilter foar Artwork
Name[ga]=Scagaire Easpórtála WMF Artwork
Name[gl]=Filtro de Exportación de WMF para Artwork
Name[he]=מסנן ייצוא מ־Artwork ל־WMF
Name[hi]=कार्बन१४ डबल्यूएमएफ़ निर्यात फ़िल्टर
Name[hne]=कार्बन१४ डबल्यूएमएफ निर्यात फिल्टर
Name[hr]=Artwork WMF filtar izvoza
Name[hu]=Artwork WMF exportszűrő
Name[is]=Artwork WMF útflutningssía
Name[it]=Filtro di esportazione WMF per Artwork
Name[ja]=Artwork WMF エクスポートフィルタ
Name[kk]=Artwork -> WMF экспорт сүзгісі
Name[lt]=Artwork WMF eksportavimo filtras
Name[lv]=Artwork WMF eksporta filtrs
Name[ms]=Penapis Eksport Artwork WMF
Name[nb]=WMF-eksportfilter for Artwork
Name[nds]=WMF-Exportfilter för Artwork
Name[ne]=कार्बन१४ डब्लुएमएफ निर्यात फिल्टर
Name[nl]=WMF-exportfilter voor Artwork
Name[pl]=Filtr eksportu do formatu WMF z Artwork
Name[pt]=Filtro de Exportação de WMF para o Artwork
Name[pt_BR]=Filtro de Exportação WMF para o Artwork
Name[ro]=Filtru exportare Artwork pentru WMF
Name[ru]=Фильтр экспорта рисунков Artwork в WMF
Name[se]=Artwork:a WMF-olggosfievrridansilli
Name[sk]=WFM filter pre export z Artwork
Name[sl]=Izvozni filter WMF za Artwork
Name[sv]=Artwork WMF-exportfilter
Name[ta]=கார்பன் 14 டபிள்யுஎம்எஃப் ஏற்றுமதி வடிகட்டி 
Name[tg]=Филтри содиротии Artwork WMF
Name[tr]=Artwork WMF Aktarma Filtresi
Name[uk]=Фільтр експорту WMF у Artwork
Name[uz]=Artwork WMF eksport filteri
Name[uz@cyrillic]=Artwork WMF экспорт филтери
Name[wa]=Passete d' ebagaedje WMF di Artwork
Name[x-test]=xxArtwork WMF Export Filterxx
Name[zh_CN]=Artwork WMF 导出过滤器
Name[zh_TW]=Artwork WMF 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/x-wmf
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Weight=1
X-KDE-Library=wmfexport

