[Desktop Entry]
Icon=
Name=Artwork WMF Export Filter
Name[cs]=Grafický exportní filtr WMF
Name[da]=Artwork WMF-eksportfilter
Name[de]=Artwork-WML-Exportfilter
Name[es]=Filtro de exportación a WMF para Artwork
Name[et]=Artworki WML-i ekspordifilter
Name[eu]=Artelanak WMFra esportatzeko iragazkia
Name[fr]=Filtre d'exportation WML de Artwork
Name[ga]=Scagaire Easpórtála WML Artwork
Name[hu]=Artwork WMF exportszűrő
Name[ja]=Artwork WML エクスポートフィルタ
Name[kk]=Artwork -> WML экспорт сүзгісі
Name[lt]=Artwork WMF eksporto filtras
Name[nb]=WMF-eksportfilter for Artwork
Name[nds]=WML-Exportfilter för Artwork
Name[nl]=WMF-exportfilter voor Artwork
Name[pl]=Filtr eksportu do formatu WMF z Artwork
Name[pt]=Filtro de Exportação de WML para o Artwork
Name[pt_BR]=Filtro de Exportação WMF para o Artwork
Name[sk]=WFM filter pre export z Artwork
Name[sv]=Artwork WMF-exportfilter
Name[uk]=Фільтр експорту WML до Artwork
Name[x-test]=xxArtwork WMF Export Filterxx
Name[zh_TW]=Artwork WMF 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/x-wmf
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Weight=1
X-KDE-Library=wmfexport

