[Desktop Entry]
Type=Service
Name=Artwork WMF Import Filter
Name[cs]=Grafický importní filtr WMF
Name[da]=Artwork WMF-importfilter
Name[de]=Artwork-WMF-Importfilter
Name[es]=Filtro de importación de WMF para Artwork
Name[et]=Artworki WMF-i impordifilter
Name[eu]=Artelanak WMFtik inportatzeko iragazkia
Name[ga]=Scagaire Iompórtála WMF Artwork
Name[kk]=WMF -> Artwork импорт сүзгісі
Name[lt]=Artwork WMF importavimo filtras
Name[nb]=WMF-importfilter for Artwork
Name[nds]=WMF-Importfilter för Artwork
Name[nl]=WMF-importfilter voor Artwork
Name[pl]=Filtr importu formatu WMF do Artwork
Name[pt]=Filtro de Importação de WMF para o Artwork
Name[pt_BR]=Filtro de importação de WMF para o Artwork
Name[sv]=Artwork WMF-importfilter
Name[uk]=Фільтр імпорту WMF до Artwork
Name[x-test]=xxArtwork WMF Import Filterxx
Name[zh_TW]=Artwork WMF 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/x-wmf
X-KDE-Weight=1
X-KDE-Library=wmfimport
X-KDE-ServiceTypes=KOfficeFilter
