[Desktop Entry]
Type=Service
Name=KCells dBASE Import Filter
Name[ca]=Filtre d'importació dBASE per al KCells
Name[ca@valencia]=Filtre d'importació dBASE per al KCells
Name[cs]=Importní filtr dBASE pro KCells
Name[da]=KCells dBASE-importfilter
Name[de]=KCells-dBASE-Importfilter
Name[et]=KCellsi dBASE'i impordifilter
Name[kk]=dBASE -> KCells импорт сүзгісі
Name[nb]=dBASE-importfilter for KCells
Name[nds]=dBASE-Importfilter för KCells
Name[nl]=dBASE-importfilter voor KCells
Name[pt]=Filtro de Importação de dBase para o KCells
Name[pt_BR]=Filtro de Importação dBase para o KCells
Name[sv]=Kcells dBASE-importfilter
Name[uk]=Фільтр імпорту dBASE для KCells
Name[x-test]=xxKCells dBASE Import Filterxx
Name[zh_TW]=KCells dBASE 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-dbf
X-KDE-Weight=1
X-KDE-Library=dbaseimport
X-KDE-ServiceTypes=KOfficeFilter
