[Desktop Entry]
Name=Kugar
Name[eo]=Raportilo
Name[xx]=xx
Exec=kugar
Icon=kugar
MimeType=application/x-kugar;
Type=Application
DocPath=kugar/index.html
Comment=Report Generator
Comment[af]=Raporteer Genereerder
Comment[ar]=توليد التقارير
Comment[az]=Raport Yaradıcısı
Comment[bg]=Създаване на отчет
Comment[bs]=Generator izvještaja
Comment[cs]=Generátor reportů
Comment[da]=Rapport-generator
Comment[de]=Report-Erstellung
Comment[el]=Δημιουργία Εκθέσεων
Comment[eo]=Raporto-kreilo
Comment[es]=Generador de informes
Comment[et]=Raportite generaator
Comment[fi]=Raporttigeneraattori
Comment[fr]=Générateur de rapport
Comment[he]=יוצר דו"חות
Comment[hu]=jelentéskészítő
Comment[is]=Skýrsluskrifari
Comment[it]=Generatore di rapporti
Comment[ja]=レポート生成
Comment[lt]=Raportų generatorius
Comment[lv]=Raportu Ģenerators
Comment[mt]=Ġeneratur tar-Rapporti
Comment[nl]=Rapportengenerator
Comment[pl]=Generator raportów
Comment[pt]=Gerador de relatórios
Comment[pt_BR]=Gerador de Relatórios
Comment[ro]=Generator de rapoarte
Comment[ru]=Генератор отчетов
Comment[sk]=Generátor reportov
Comment[sl]=Ustvarjanje poročil
Comment[sr]=Generator izveštaja
Comment[sv]=Rapportgenerator
Comment[tr]=Rapor oluşturucu
Comment[uk]=Генератор звітів
Comment[ven]=Muiti wa muvhigo
Comment[vi]=Trình sinh báo cáo
Comment[xh]=Yenza ingxelo yomatshini onika umbane
Comment[xx]=xx
Comment[zh_CN]=报告生成器
Comment[zu]=Bika umshini onika ugesi
Terminal=0
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkugarpart
