[Desktop Entry]
Type=Service
Name=Quattro Pro Import Filter for KSpread
Name[af]=Quattro Pro In voer Filter vir Kspread
Name[ar]=استيراد من Quattro Pro الى KSpread
Name[az]=KSpread üçün Quattro Pro Alma Süzgəci
Name[be]=Фільтар KSpread імпарту з Quattro Pro
Name[bg]=Филър за импорт на CSV в KSpread
Name[bs]=Quattro Pro Import Filter za KSpread
Name[cs]=Quattro Pro importní filtr pro KSpread
Name[da]=Quattro Pro Import-filter for KSpread
Name[de]=Quattro Pro-Importfilter für KSpread
Name[el]=Φίλτρο Εισαγωγής Quattro Pro για το KSpread
Name[eo]=Quattr Pro - importfiltrilo por Tabelkalkulilo
Name[es]=Filtro de importación Quattro Pro para KSpread
Name[et]=KSpreadi Quattro Pro import filter
Name[eu]=Quattro Pro Inportatzeko Iragazkia for KSpread
Name[fi]=Quattro Pro tuontisuodin KSpeadiin
Name[fr]=Filtre d'importation Quattro Pro de KSpread
Name[he]=מסנן ייבוא Quattro Pro ל-KSpread
Name[hu]=Quattro Pro importszűrő a KSpread-hez
Name[is]=Quattro Pro innflutningssía fyrir KSpread töflureikninn
Name[it]=Filtro di importazione Quattro Pro per KSpread
Name[ja]=KSpread用 Quattro Pro インポートフィルター
Name[lt]=Quattro Pro importo filtras skirtas KSpread
Name[lv]=Quattro Pro Importa Filtrs priekš KSpread
Name[mt]=Filtru għall-importazzzjoni ta' Quattro Pro ġo KSpread
Name[nb]=Quattro Pro-importfilter for KSpread
Name[nl]=Quattro Pro-Importfilter voor KSpread
Name[nn]=Quattro Pro-importfilter for KSpread
Name[pl]=Filtr importujący z plików Quattro Pro do KSpreada
Name[pt]=Filtro de importação de Quattro Pro para o KSpread
Name[pt_BR]=Filtro de importação  Quattro Pro para o KSpread
Name[ro]=Filtru importare KWord pentru Quattro Pro
Name[ru]=Фильтр импорта Quattro Pro в KSpread
Name[sk]=Filter pre import Quattro Pro do KSpread
Name[sl]=Uvozni filter Quattro Pro za KSpread
Name[sr]=KSpread filter za uvoz Quattro Pro formata
Name[sv]=Quattro Pro-importfilter för Kspread
Name[ta]=KSpread ­ü¸¡É Quattro Pro ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=KSpread için Quattro Pro Alma Süzgeci
Name[uk]=Фільтр імпорту Quattro Pro для KSpread
Name[ven]=Filithara yau u dzhenisa nga ngomu yau phadaladza ha K ya Quattro Pro
Name[vi]=Trình lọc nhập Quattro Pro cho KSpread
Name[xh]=Quattro Pro Icebo lokucoca ulwelo olurhwetyiweyo ngaphakathi lwe KSpread
Name[xx]=xx
Name[zh_CN]=KSpread 的 Quattro Pro 导入过滤程序
Name[zh_TW]=KSpread 的 Quattro Pro 匯入過濾程式
Export=application/x-kspread
ExportDescription=KSpread
Import=application/x-quattropro
ImportDescription=Quattro Pro File
Implemented=kodocument
X-KDE-Library=libqproimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
ServiceTypes=KOfficeFilter
