[Desktop Entry]
Type=Service
Exec=mgp2kpr.py
Name=Magicpoint Import Filter for Showcase
Name[bg]=Филтър за импортиране от Magicpoint в Showcase
Name[br]=Sil enporzh Magicpoint evit Showcase
Name[ca]=Filtre d'importació Magicpoint per al Showcase
Name[ca@valencia]=Filtre d'importació Magicpoint per al Showcase
Name[cs]=Importní filtr Magicpoint pro Showcase
Name[cy]=Hidlen Fewnforio Magicpoint i Showcase
Name[da]=Magicpoint importfilter til Showcase
Name[de]=Showcase-Magicpoint-Importfilter
Name[el]=Φίλτρο εισαγωγής Magicpoint για το Showcase
Name[en_GB]=Magicpoint Import Filter for Showcase
Name[eo]=Magicpoint-importfiltrilo por Showcase
Name[es]=Filtro de Showcase de importación de Magicpoint
Name[et]=Showcasei Magicpointi impordifilter
Name[eu]=Showcase-en Magicpoint inportaziorako iragazkia
Name[fa]=پالایۀ واردات Magicpoint برای Showcase
Name[fi]=Magicpoint-tuontisuodin Showcaseille
Name[fr]=Filtre d'importation Magicpoint pour Showcase
Name[fy]=Magicpoint-Ymportfilter foar Kpresenter
Name[ga]=Scagaire Iompórtála Magicpoint le haghaidh Showcase
Name[gl]=Filtro de Importación de Magicpoint para Showcase
Name[he]=מסנן ייבוא מ־MagicPoint ל־Showcase
Name[hi]=केप्रेजेन्टर के लिए मैजिकपाइंट आयात फ़िल्टर
Name[hne]=केप्रेजेन्टर बर मैजिकपाइंट आयात फिल्टर
Name[hr]=Magicpoint filtar uvoza za Showcase
Name[hu]=Magicpoint importszűrő a Showcasehez
Name[is]=Magicpoint innflutningssía fyrir Showcase
Name[it]=Filtro di importazione Magicpoint per Showcase
Name[ja]=Showcase Magicpoint インポートフィルタ
Name[kk]=Magicpoint -> Showcase импорт сүзгісі
Name[lt]=Magicpoint importavimo filtras skirtas Showcase
Name[lv]=Magicpoint importa filtrs priekš Showcase
Name[ms]=Penapis Import Magicpoint bagi Showcase
Name[nb]=Magicpoint-importfilter for Showcase
Name[nds]=Magicpoint-Importfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ताका लागि म्याजिक बिन्दु आयात फिल्टर
Name[nl]=Magicpoint-importfilter voor Showcase
Name[pl]=Filtr importu z Magicpoint dla Showcase
Name[pt]=Filtro de Importação de Magicpoint para o Showcase
Name[pt_BR]=Filtro de Importação Magicpoint para o Showcase
Name[ru]=Фильтр импорта презентаций Magicpoint в Showcase
Name[se]=Showcase:a Magicpoint-sisafievrridansilli
Name[sk]=Filter pre import Magicpoint pre Showcase
Name[sl]=Uvozni filter Magicpoint za Showcase
Name[sv]=Magicpoint-importfilter för Kpresenter
Name[ta]=கேபிரஸன்டருக்கான மாயப்புள்ளி ஏற்றுமதி வடிகட்டி 
Name[tg]=Филтри воридотии Magicpoint барои Showcase
Name[tr]=Showcase için Magicpoint Alma Filtresi
Name[uk]=Фільтр імпорту Magicpoint для Showcase
Name[uz]=Showcase uchun Magicpoint import filteri
Name[uz@cyrillic]=Showcase учун Magicpoint импорт филтери
Name[wa]=Passete d' abagaedje Magicpoint po Showcase
Name[xh]=Isihluzi Sokurhweba ngaphakathi kwi Magicpoint ye Showcase
Name[x-test]=xxMagicpoint Import Filter for Showcasexx
Name[zh_CN]=Showcase 的 Magicpoint 导入过滤器
Name[zh_TW]=Showcase 的 Magicpoint Import 匯入過濾程式
X-KDE-Wrapper-Export=application/x-kpresenter
X-KDE-Wrapper-Import=application/x-magicpoint
X-KDE-ServiceTypes=KOfficeGenericFilter
