[Desktop Entry]
Type=Service
Exec=mgp2kpr.py
Name=Magicpoint Import Filter for Showcase
Name[et]=Showcase'i Magicpointi impordifilter
Name[pt]=Filtro de Importação de Magicpoint para o Showcase
Name[pt_BR]=Filtro de importação de Magicpoint para o Showcase
Name[sv]=Magicpoint-importfilter för Showcase
Name[uk]=Фільтр імпорту Magicpoint для Showcase
Name[x-test]=xxMagicpoint Import Filter for Showcasexx
Name[zh_TW]=Showcase 的 Magicpoint Import 匯入過濾程式
X-KDE-Wrapper-Export=application/x-kpresenter
X-KDE-Wrapper-Import=application/x-magicpoint
X-KDE-ServiceTypes=KOfficeGenericFilter
