[Desktop Entry]
Type=Service
Exec=mgp2kpr.py
Name=Magicpoint Import Filter for Showcase
X-KDE-Wrapper-Export=application/x-kpresenter
X-KDE-Wrapper-Import=application/x-magicpoint
X-KDE-ServiceTypes=KOfficeGenericFilter
