[Desktop Entry]
Type=Service
Name=Microsoft PowerPoint Import Filter for Showcase
Name[ca]=Filtre d'importació Microsoft PowerPoint per al Showcase
Name[ca@valencia]=Filtre d'importació Microsoft PowerPoint per al Showcase
Name[da]=Microsoft Powerpoint importfilter til Showcase
Name[de]=Showcase-MS-PowerPoint-Importfilter
Name[et]=Showcase'i Microsoft PowerPointi impordifilter
Name[kk]=Microsoft PowerPoint -> Showcase импорт сүзгісі
Name[nb]=Microsoft PowerPoint-importfilter for Showcase
Name[nds]="Microsoft PowerPoint"-Importfilter för Showcase
Name[nl]=Microsoft Powerpoint importfilter voor Showcase
Name[pt]=Filtro de Importação do Microsoft PowerPoint para o Showcase
Name[pt_BR]=Filtro de importação de Microsoft PowerPoint para o Showcase
Name[sv]=Microsoft PowerPoint-importfilter för Showcase
Name[uk]=Фільтр імпорту Microsoft PowerPoint для Showcase
Name[x-test]=xxMicrosoft PowerPoint Import Filter for Showcasexx
Name[zh_TW]=Showcase 的 Microsoft PowerPoint 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Import=application/vnd.ms-powerpoint
X-KDE-Weight=1
X-KDE-Library=powerpointimport
X-KDE-ServiceTypes=KOfficeFilter
