[Desktop Entry]
Type=Service
Name=Microsoft PowerPoint Import Filter for Showcase
Name[bg]=Филтър за импортиране от Microsoft PowerPoint в Showcase
Name[br]=Sil enporzh Microsoft PowerPoint evit Showcase
Name[ca]=Filtre d'importació Microsoft PowerPoint per al Showcase
Name[ca@valencia]=Filtre d'importació Microsoft PowerPoint per al Showcase
Name[cs]=Importní filtr Microsoft PowerPoint pro Showcase
Name[cy]=Hidlen Fewnforio Microsoft PowerPoint i Showcase
Name[da]=Microsoft Powerpoint importfilter til Showcase
Name[de]=Showcase-MS-PowerPoint-Importfilter
Name[el]=Φίλτρο εισαγωγής Microsoft PowerPoint για το Showcase
Name[en_GB]=Microsoft PowerPoint Import Filter for Showcase
Name[es]=Filtro de Showcase de importación de Microsoft PowerPoint
Name[et]=Showcasei Microsoft PowerPointi impordifilter
Name[fa]=پالایۀ واردات Microsoft PowerPoint برای Showcase
Name[fi]=Microsoft PowerPoint -tuontisuodin Showcaseille
Name[fr]=Filtre d'importation Microsoft PowerPoint pour Showcase
Name[fy]=Microsoft PowerPoint-Ymportfilter foar Showcase
Name[ga]=Scagaire Iompórtála Microsoft PowerPoint le haghaidh KSpread
Name[gl]=Filtro de Importación de Microsoft PowerPoint para Showcase
Name[he]=Microsoft PowerPoint מסנן יבוא ל-Showcase
Name[hi]=केप्रेजेन्टर के लिए माइक्रोसॉफ़्ट पावरपाइंट आयात फ़िल्टर
Name[hne]=केप्रेजेन्टर बर माइक्रोसाफ्ट पावरपाइंट आयात फिल्टर
Name[hr]=Microsoft PowerPoint filtar uvoza za Showcase
Name[hu]=Microsoft PowerPoint importszűrő a Showcasehez
Name[is]=Microsoft PowerPoint innflutningssía fyrir Showcase
Name[it]=Filtro di importazione Microsoft PowerPoint per Showcase
Name[ja]=Showcase Microsoft PowerPoint インポートフィルタ
Name[kk]=Microsoft PowerPoint -> Showcase импорт сүзгісі
Name[lt]=Microsoft PowerPoint importavimo filtras skirtas Showcase
Name[lv]=Microsoft PowerPoint importa filtrs priekš Showcase
Name[nb]=Microsoft PowerPoint-importfilter for Showcase
Name[nds]="Microsoft PowerPoint"-Importfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ताका लागि माइक्रोसफ्ट पावरपोइन्ट आयात फिल्टर
Name[nl]= Microsoft Powerpoint importfilter voor Showcase
Name[pl]=Filtr importu formatu Microsoft PowerPoint dla Showcase
Name[pt]=Filtro de Importação do Microsoft PowerPoint para o Showcase
Name[pt_BR]=Filtro de Importação Microsoft PowerPoint para o Showcase
Name[ru]=Фильтр импорта презентаций Microsoft PowerPoint в Showcase
Name[sk]=Filter pre import z Microsoft Power Point-u pre Showcase
Name[sl]=Uvozni filter Microsoft PowerPoint za Showcase
Name[sv]=Microsoft PowerPoint-importfilter för Kpresenter
Name[tg]=Филтри воридотии Microsoft PowerPoint барои Showcase
Name[tr]=Showcase için Microsoft PowerPoint Alma Filtresi
Name[uk]=Фільтр імпорту Microsoft PowerPoint для Showcase
Name[uz]=Showcase MS PowerPoint import filteri
Name[uz@cyrillic]=Showcase MS PowerPoint импорт филтери
Name[wa]=Passete d' abagaedje Microsoft PowerPoint po Showcase
Name[x-test]=xxMicrosoft PowerPoint Import Filter for Showcasexx
Name[zh_CN]=Showcase 的 Microsoft PowerPoint 导入过滤器
Name[zh_TW]=Showcase 的 Microsoft PowerPoint 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Import=application/vnd.ms-powerpoint
X-KDE-Weight=1
X-KDE-Library=powerpointimport
X-KDE-ServiceTypes=KOfficeFilter
