<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KCellsSolverPlugin" library="libkcellssolver" version="1">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
  <Action name="kcellssolver" />
 </Menu>
</MenuBar>
</kpartgui>
