[Desktop Entry]
Type=Service
Patterns=*.csv;*.CSV;
Name=KIllustrator RTF Export Filter
Name[af]=Killustrator Rtf Voer uit Filter
Name[cs]=Exportní filtr formátu RTF pro KIllistrator
Name[da]=KIllustrator RTF Eksport-filter
Name[de]=RTF-Exportfilter für KIllustrator
Name[el]=Φίλτρο εξαγωγής RTF του KIllustrator
Name[eo]=RTF-eksportfiltrilo por Ilustrilo
Name[es]=Filtro de exportación RTF de KIllustrator
Name[fr]=Filtre d'exportation RTF de Kontour
Name[he]=מסנן ייצוא RTF ל-KIllustrator
Name[hu]=KIllustrator RTF exportszűrő
Name[is]=RTF útflutningssía fyrir KIllustrator teikniforritið
Name[it]=Filtro di esportazione RTF per KIllustrator
Name[ja]=KIllustrator RTF エクスポートフィルター
Name[lt]=KIllustrator RTF eksporto filtras
Name[lv]=KIlustratora RTF Eksporta Filtrs
Name[nl]=KIllustrator RTF Exportfilter
Name[pl]=Filtr eksportujący do RTFu z KIllustratora
Name[pt]=Filtro de exportação de RTF do KIllustrator
Name[pt_BR]=Filtro de exportação de RTF do KIllustrator
Name[ru]=Фильтр экспорта из Killustrator в RTF
Name[sk]=RTF filter pre export z KIllustrator
Name[sl]=Izvozni filter RTF za Kontour
Name[sv]=Killustrator RTF-exportfilter
Name[uk]=Фільтр експорту RTF для KIllustrator
Name[ven]=Filithara yau bviselannda ya tshisumbedzi tsha K
Name[vi]=Trình lọc xuất file RTF của KIllustrator
Name[xh]=KWord RTF Icebo lokucoca ulwelo olurhwetyiweyo ngaphakathi
Name[zu]=KWord RTF Icebo lokuhlaziya ifayela yemininingwane Yohwebo lwazangaphandle
Export=text/rtf
ExportDescription=RTF
Implemented=file
X-KDE-Library=librtfexport
ServiceTypes=KOfficeFilter
