[Desktop Entry]
Type=Service
Name=Showcase KWord Filter
Name[et]=Showcase'i KWordi filter
Name[pt]=Filtro de KWord para o Showcase
Name[pt_BR]=Filtro do KWord para o Showcase
Name[sv]=Showcase Kword-filter
Name[uk]=Фільтр KWord для Showcase
Name[x-test]=xxShowcase KWord Filterxx
Name[zh_TW]=Showcase KWord 過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/x-kword
X-KDE-Library=kprkword
X-KDE-ServiceTypes=KOfficeFilter
