[Desktop Entry]
Type=Service
Name=Showcase KWord Filter
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/x-kword
X-KDE-Library=kprkword
X-KDE-ServiceTypes=KOfficeFilter
