[Desktop Entry]
Type=Service
Name=Showcase KWord Filter
Name[bg]=Филтър за Showcase за файлове на KWord
Name[br]=Sil KWord Showcase
Name[ca]=Filtre del KWord per al Showcase
Name[ca@valencia]=Filtre del KWord per al Showcase
Name[cs]=Filtr pro převod Showcase->KWord
Name[cy]=Hidlen KWord Showcase
Name[da]=Showcase KWord-filter
Name[de]=Showcase-KWord-Filter
Name[el]=Showcase KWord φίλτρο
Name[en_GB]=Showcase KWord Filter
Name[eo]=Showcase KWord-filtrilo
Name[es]=Filtro de KWord para Showcase
Name[et]=Showcasei KWordi filter
Name[eu]=Showcase-en KWord iragazkia
Name[fa]=پالایۀ Showcase KWord
Name[fi]=Showcase KWord -suodin
Name[fr]=Filtre KWord pour Showcase
Name[fy]=KWord-filter foar Showcase
Name[ga]=Scagaire KWord Showcase
Name[gl]=Filtro de KWord para Showcase
Name[he]=מסנן ייבוא מ־KWord ל־Showcase
Name[hi]=केप्रेजेन्टर केवर्ड फ़िल्टर
Name[hne]=केप्रेजेन्टर केवर्ड फिल्टर
Name[hr]=Showcase filtar za KWord
Name[hu]=Showcase KWord szűrő
Name[is]=Showcase KWord sía
Name[it]=Filtro da Showcase a KWord
Name[ja]=Showcase KWord フィルタ
Name[kk]=KWord -> Showcase сүзгісі
Name[lt]=Showcase KWord filtras
Name[lv]=Showcase KWord filtrs
Name[ms]=Penapis Showcase KWord 
Name[nb]=Showcase KWord-filter
Name[nds]=KWord-Filter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ता केडीई शब्द फिल्टर
Name[nl]=KWord-filter voor Showcase
Name[pl]=Filtr Showcase formatu KWord
Name[pt]=Filtro de KWord para o Showcase
Name[pt_BR]=Filtro KWord para o Showcase
Name[ru]=Фильтр экспорта документов KWord в Showcase
Name[se]=Showcasea KWord-silli
Name[sk]=Filter pre prevod Showcase- KWord
Name[sl]=Filter za Showcase v KWord
Name[sv]=Kpresenter Kword-filter
Name[tg]=Филтри KWord барои Showcase
Name[tr]=Showcase KWord Filtresi
Name[uk]=Фільтр KWord для Showcase
Name[uz]=Showcase uchun KWord filteri
Name[uz@cyrillic]=Showcase учун KWord филтери
Name[wa]=Passete KWord di Showcase
Name[x-test]=xxShowcase KWord Filterxx
Name[zh_CN]=Showcase KWord 过滤器
Name[zh_TW]=Showcase KWord 過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/x-kword
X-KDE-Library=kprkword
X-KDE-ServiceTypes=KOfficeFilter
