[Desktop Entry]
Name=Kontour
Name[af]=Kontoer
Name[bg]=Контур
Name[eo]=Konturo
Name[xx]=xx
Exec=kontour
X-KDE-Library=libkontourpart
Comment=Drawings
Comment[af]=Tekeninge
Comment[ar]=أداة الرسم
Comment[az]=Rəsmlər
Comment[bg]=Рисунки
Comment[bs]=Crtanje
Comment[cs]=Kreslení
Comment[da]=Tegninger
Comment[de]=Zeichnungen
Comment[el]=Σχέδια
Comment[eo]=Desegnaĵoj
Comment[es]=Dibujos
Comment[et]=KDE vektorgraafika redaktor
Comment[fi]=Piirrokset
Comment[fr]=Dessins
Comment[he]=ציורים
Comment[hu]=rajzolóprogram
Comment[is]=Teikningar
Comment[it]=Disegno
Comment[ja]=ドローイング
Comment[lt]=Piešiniai
Comment[lv]=Zīmējumi
Comment[mt]=Tpinġijiet
Comment[nl]=Tekeningen
Comment[pl]=Rysunki
Comment[pt]=Desenhos
Comment[pt_BR]=Desenhos
Comment[ro]=Desene
Comment[ru]=Рисунки
Comment[sk]=Kreslenie
Comment[sl]=Risbe
Comment[sr]=Crteži
Comment[sv]=Ritningar
Comment[ta]=Å¨Ã×¸û
Comment[tr]=Çizimler
Comment[uk]=Креслення
Comment[ven]=Zwau ola
Comment[vi]=Vẽ
Comment[xh]=Imizobo
Comment[xx]=xx
Comment[zh_CN]=绘图
Comment[zu]=Imidwebo
MimeType=application/x-kontour
Type=Application
Icon=kontour
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-kontour
DocPath=kontour/index.html
X-KDE-StartupNotify=true
