[Desktop Entry]
Type=Link
URL=.source/BalanceSheet.kst
Name=Balance KCSheet
Name[bg]=Баланс на KCSheet
Name[ca]=Balanç KCSheet
Name[ca@valencia]=Balanç KCSheet
Name[da]=Balancering-KCSheet
Name[es]=Balance KCSheet
Name[et]=Bilanss
Name[eu]=KCSheet balantzea
Name[fr]=Balance comptable KCsheet
Name[kk]=KCSheet балансы
Name[nb]=Balanse KCSheet
Name[nl]=Balans KCSheet
Name[pl]=ArkuszKC salda
Name[pt]=Folha de Balanço
Name[pt_BR]=Balanço KCSheet
Name[sk]=Zostatok KCSheet
Name[sv]=Budgetblad i Kcells
Name[uk]=Баланс KCSheet
Name[x-test]=xxBalance KCSheetxx
Name[zh_TW]=Balance KCSheet
Icon=template_balancesheet
