[Desktop Entry]
Type=Link
URL=.source/BalanceSheet.kst
Name=Balance KCSheet
Name[nl]=Balans KCSheet
Name[pt]=Folha de Balanço
Name[sv]=Budgetblad i Kcells
Name[uk]=Баланс KCSheet
Name[x-test]=xxBalance KCSheetxx
Icon=template_balancesheet
