[Desktop Entry]
Type=Service
Name=KCells Microsoft Excel Import Filter
Name[bg]=Филтър за внасяне от Microsoft Excel в KCells
Name[ca]=Filtre d'importació Microsoft Excel per al KCells
Name[ca@valencia]=Filtre d'importació Microsoft Excel per al KCells
Name[cs]=Importní filtr Microsoft Excel pro KCells
Name[da]=KCells Microsoft Excel importfilter
Name[de]=KCells-MS-Excel-Importfilter
Name[es]=Filtro de importación de Microsoft Excel para KCells
Name[et]=KCellsi Microsoft Exceli impordifilter
Name[eu]=KCells-en iragazkia Microsoft Excel-etik inportatzeko
Name[ga]=Scagaire Iompórtála Microsoft Excel le haghaidh KCells
Name[kk]=Microsoft Excel -> KCells импорт сүзгісі
Name[nb]=Microsoft Excel-importfilter for KCells
Name[nds]=Microsoft Excel-Importfilter för KCells
Name[nl]=Microsoft Excell-importfilter voor KCells
Name[pl]=Filtr importu formatu Microsoft Excel do KCells
Name[pt]=Filtro de Importação de Microsoft Excel para o KCells
Name[pt_BR]=Filtro de Importação Microsoft Excel para o KCells
Name[sk]=Microsoft Excel filter pre import do KCells
Name[sv]=Microsoft Excel-importfilter för Kcells
Name[uk]=Фільтр імпорту Microsoft Excel для KCells
Name[x-test]=xxKCells Microsoft Excel Import Filterxx
Name[zh_TW]=KCells Microsoft Excel 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=application/vnd.ms-excel
X-KDE-Weight=1
X-KDE-Library=excelimporttodoc
X-KDE-ServiceTypes=KOfficeFilter
