[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KCells/Plugin
Comment=Plugin for KCells
Comment[bg]=Приставка за KCells
Comment[ca]=Connector per al KCells
Comment[ca@valencia]=Connector per al KCells
Comment[cs]=Modul pro KCells
Comment[da]=Plugin til KCells
Comment[de]=Modul für KCells
Comment[es]=Complemento para KCells
Comment[et]=KCellsi plugin
Comment[eu]=KCelss-en plugina
Comment[fr]=Module pour KCells
Comment[ga]=Breiseán KCells
Comment[hu]=Bővítmény a KCells-hez
Comment[ja]=KCells のプラグイン
Comment[kk]=KCells-дің плагині
Comment[nb]=Programtillegg for KCells
Comment[nds]=Moduul för KCells
Comment[nl]=Plugin voor KCells
Comment[pl]=Wtyczka dla KCells
Comment[pt]='Plugin' para o KCells
Comment[pt_BR]=Plugin para o KCells
Comment[sk]=Modul pre KCells
Comment[sv]=Insticksprogram för Kcells
Comment[uk]=Додаток для KCells
Comment[x-test]=xxPlugin for KCellsxx
Comment[zh_TW]=KCells 外掛程式
[PropertyDef::X-KCells-InterfaceVersion]
Type=int
