[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KCells/Plugin
Comment=Plugin for KCells
Comment[nl]=Plugin voor KCells
Comment[pt]='Plugin' para o KCells
Comment[sv]=Insticksprogram för Kcells
Comment[uk]=Додаток для KCells
Comment[x-test]=xxPlugin for KCellsxx
[PropertyDef::X-KCells-InterfaceVersion]
Type=int
