[Desktop Entry]
Type=Service
Name=Showcase Old File Format Filter
Name[et]=Showcase'i vana failivormingu filter
Name[pt]=Filtro do Formato Antigo do Showcase
Name[pt_BR]=Filtro do formato de arquivo antigo do Showcase
Name[sv]=Showcase gammalt filformatfilter
Name[uk]=Фільтр старого формату файлів Showcase
Name[x-test]=xxShowcase Old File Format Filterxx
X-KDE-Import=application/x-kpresenter
X-KDE-Weight=1
X-KDE-Export=application/vnd.oasis.opendocument.presentation
X-KDE-Library=kpr2odp
X-KDE-ServiceTypes=KOfficeFilter
