[Desktop Entry]
Type=Service
Name=CSV Export Filter for KCells
Name[af]=Cvs Voer uit Filter vir Kspread
Name[bg]=Филтър за експортиране от KCells в CSV
Name[br]=Sil ezporzh CSV evit KCells
Name[ca]=Filtre d'exportació CSV per al KCells
Name[ca@valencia]=Filtre d'exportació CSV per al KCells
Name[cs]=CSV exportní filtr pro KCells
Name[cy]=Hidlen Allforio CSV i Kontour
Name[da]=CSV-eksportfilter for KCells
Name[de]=KCells-CSV-Exportfilter
Name[el]=Φίλτρο εξαγωγής CSV για το KCells
Name[en_GB]=CSV Export Filter for KCells
Name[eo]=CSV-Eksportfiltrilo por KCells
Name[es]=Filtro de KCells de exportación a CSV
Name[et]=KCellsi CSV ekspordifilter
Name[eu]=KCells-en CSV esportaziorako iragazkia
Name[fa]=پالایۀ صادرات CSV برای KCells
Name[fi]=CSV-vientisuodin KCellsiin
Name[fr]=Filtre d'exportation CSV de KCells
Name[fy]=CSV-Eksportfilter foar KCells
Name[ga]=Scagaire Easpórtála CSV le haghaidh KCells
Name[gl]=Filtro de Exportación de CSV para KCells
Name[he]=מסנן ייצוא מ־KCells ל־CSV
Name[hi]=केस्प्रेड के लिए सीएसवी निर्यात फ़िल्टर
Name[hne]=केस्प्रेड बर सीएसवी निर्यात फिल्टर
Name[hr]=CSV filtar izvoza za KCells
Name[hu]=CSV exportszűrő a KCellshez
Name[is]=CSV útflutningssía fyrir KCells
Name[it]=Filtro di esportazione CSV per KCells
Name[ja]=KCells CSV エクスポートフィルタ
Name[kk]=KCells -> CSV экспорт сүзгісі
Name[lt]=KCells eksporto filtras CSV
Name[lv]=CSV eksporta filtrs priekš KCells
Name[mk]=CSV извозен филтер за KCells
Name[ms]=Penapis Eksport CSV bagi KCells
Name[nb]=CSV-eksportfilter for KCells
Name[nds]=CSV-Exportfilter för KCells
Name[ne]=केडीई स्प्रेडका लागि CSV निर्यात फिल्टर
Name[nl]=CSV-exportfilter voor KCells
Name[pl]=Filtr eksportu do formatu CSV dla KCells
Name[pt]=Filtro de Exportação de CSV para o KCells
Name[pt_BR]=Filtro de Exportação CSV para o KCells
Name[ro]=Filtru de exportare KCells pentru CSV
Name[ru]=Фильтр экспорта таблиц KCells в CSV
Name[se]=KCells:a CSV-olggosfievrridansilli
Name[sk]=CSV filter pre export z KCells
Name[sl]=Izvozni filter CSV za KCells
Name[sv]=CSV-exportfilter för Kspread
Name[ta]=கேஸ்பெரட்க்கான சிஎஸ்வி ஏற்றுமதி வடிகட்டி
Name[tg]=Филтри содиротии CSV барои KCells
Name[tr]=KCells CSV Aktarma Filtresi
Name[uk]=Фільтр експорту CSV для KCells
Name[uz]=KCells uchun CSV eksport filteri
Name[uz@cyrillic]=KCells учун CSV экспорт филтери
Name[wa]=Passete d' ebagaedje CSV po KCells
Name[xh]=CSV Yesihluzi Sokurhweba ngaphandle se KCells
Name[x-test]=xxCSV Export Filter for KCellsxx
Name[zh_CN]=KCells 的 CSV 导出过滤器
Name[zh_TW]=KCells 的 CSV 匯出過濾程式
X-KDE-Export=text/csv,text/plain
X-KDE-Import=application/x-kcells
X-KDE-Weight=50
X-KDE-Library=csvexport
X-KDE-ServiceTypes=KOfficeFilter
