[Desktop Entry]
Type=Service
Name=CSV Import Filter for KCells
Name[bg]=Филтър за внасяне от CSV в KCells
Name[ca]=Filtre d'importació CSV per al KCells
Name[ca@valencia]=Filtre d'importació CSV per al KCells
Name[cs]=Importní filtr CSV pro KCells
Name[da]=CSV-importfilter til KCells
Name[de]=KCells-CSV-Importfilter
Name[es]=Filtro de importación de CSV para KCells
Name[et]=KCellsi CSV impordifilter
Name[eu]=KCells-en iragazkia CSVtik inportatzeko
Name[ga]=Scagaire Iompórtála CSV le haghaidh KCells
Name[kk]=CSV -> KCells импорт сүзгісі
Name[nb]=CSV-importfilter for KCells
Name[nds]=CSV-Importfilter för KCells
Name[nl]=CSV-importfilter voor KCells
Name[pl]=Filtr importu formatu CSV dla KCells
Name[pt]=Filtro de Importação de CSV para o KCells
Name[pt_BR]=Filtro de Importação CSV para o KCells
Name[sk]=CSV importný filter pre KCells
Name[sv]=CSV-importfilter för Kcells
Name[uk]=Фільтр імпорту CSV для KCells
Name[x-test]=xxCSV Import Filter for KCellsxx
Name[zh_TW]=KCells 的 CSV 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=text/csv,text/plain
X-KDE-Weight=50
X-KDE-Library=csvimport
X-KDE-ServiceTypes=KOfficeFilter
