[Desktop Entry]
Type=Service
Name=CSV Import Filter for KCells
Name[ca]=Filtre d'importació CSV per al KCells
Name[nb]=CSV-importfilter for KCells
Name[nl]=CSV-importfilter voor KCells
Name[pt]=Filtro de Importação de CSV para o KCells
Name[pt_BR]=Filtro de Importação CSV para o KCells
Name[sv]=CSV-importfilter för Kcells
Name[uk]=Фільтр імпорту CSV для KCells
Name[x-test]=xxCSV Import Filter for KCellsxx
Name[zh_TW]=KCells 的 CSV 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=text/csv,text/plain
X-KDE-Weight=50
X-KDE-Library=csvimport
X-KDE-ServiceTypes=KOfficeFilter
