[Desktop Entry]
Type=Service
Name=CSV Export Filter for KCells
Name[nl]=CSV-exportfilter voor KCells
Name[pt]=Filtro de Exportação de CSV para o KCells
Name[sv]=CSV-exportfilter för Kcells
Name[uk]=Фільтр експорту CSV для KCells
Name[x-test]=xxCSV Export Filter for KCellsxx
X-KDE-Export=text/csv,text/plain
X-KDE-Import=application/x-kcells
X-KDE-Weight=50
X-KDE-Library=csvexport
X-KDE-ServiceTypes=KOfficeFilter
