[Desktop Entry]
Type=Service
Name=CSV Import Filter for KCells
Name[af]=Cvs In voer Filter vir Kspread
Name[bg]=Филтър за импортиране от CSV в KCells
Name[br]=Sil enporzh CSV evit KCells
Name[ca]=Filtre d'importació CSV per al KCells
Name[ca@valencia]=Filtre d'importació CSV per al KCells
Name[cs]=CSV importní filtr pro KCells
Name[cy]=Hidlen Fewnforio CSV i Kontour
Name[da]=CSV-importfilter for KCells
Name[de]=KCells-CSV-Importfilter
Name[el]=Φίλτρο εισαγωγής CSV για το KCells
Name[en_GB]=CSV Import Filter for KCells
Name[eo]=CSV-importfiltrilo por KCells
Name[es]=Filtro de KCells de importación de CSV
Name[et]=KCellsi CSV impordifilter
Name[eu]=KCells-en CSV inportaziorako iragazkia
Name[fa]=پالایۀ واردات CSV برای KCells
Name[fi]=CSV-tuontisuodin KCellsiin
Name[fr]=Filtre d'importation CSV de KCells
Name[fy]=CSV-Ymportfilter foar KCells
Name[ga]=Scagaire Iompórtála CSV le haghaidh KCells
Name[gl]=Filtro de Importación de CSV para KCells
Name[he]=מסנן ייבוא מ־CSV ל־KCells
Name[hi]=केस्प्रेड के लिए सीएसवी आयात फ़िल्टर
Name[hne]=केस्प्रेड बर सीएसवी आयात फिल्टर
Name[hr]=CSV filtar uvoza za KCells
Name[hu]=CSV importszűrő a KCellshez
Name[is]=CSV innflutningssía fyrir KCells
Name[it]=Filtro di importazione CSV per KCells
Name[ja]=KCells CSV インポートフィルタ
Name[kk]=CSV -> KCells импорт сүзгісі
Name[lt]=CSV importo filtras skirtas KCells
Name[lv]=CSV importa filtrs priekš KCells
Name[mk]=CSV увозен филтер за KCells
Name[ms]=Penapis Import CSV bagi KCells
Name[nb]=CSV-importfilter for KCells
Name[nds]=CSV-Importfilter för KCells
Name[ne]=केडीई स्प्रेडका लागि CSV आयात फिल्टर
Name[nl]=CSV-importfilter voor KCells
Name[pl]=Filtr importu formatu CSV dla KCells
Name[pt]=Filtro de Importação de CSV para o KCells
Name[pt_BR]=Filtro de Importação CSV para o KCells
Name[ro]=Filtru de importare KCells pentru CSV
Name[ru]=Фильтр импорта файлов CSV в KCells
Name[se]=KCells:a CSV-sisafievrridansilli
Name[sk]=Filter pre import CVS pre KCells
Name[sl]=Uvozni filter CSV za KCells
Name[sv]=CSV-importfilter för Kspread
Name[ta]=கேஸ்பெரட்க்கான சிஎஸ்வி இறக்குமதி வடிகட்டி
Name[tg]=Филтри воридотии CSV барои KCells
Name[tr]=KCells CSV Alma Filtresi
Name[uk]=Фільтр імпорту CSV для KCells
Name[uz]=KCells uchun CSV import filteri
Name[uz@cyrillic]=KCells учун CSV импорт филтери
Name[wa]=Passete d' abagaedje CSV po KCells
Name[xh]=CSV Yesihluzi Sokurhweba se KCells
Name[x-test]=xxCSV Import Filter for KCellsxx
Name[zh_CN]=KCells 的 CSV 导入过滤器
Name[zh_TW]=KCells 的 CSV 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=text/csv,text/plain
X-KDE-Weight=50
X-KDE-Library=csvimport
X-KDE-ServiceTypes=KOfficeFilter
