[Desktop Entry]
Type=Service
Name=Artwork 1.x Import Filter
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/x-artwork
X-KDE-Weight=1
X-KDE-Library=artwork1ximport
X-KDE-ServiceTypes=KOfficeFilter
