[Desktop Entry]
Type=Service
Name=Karbon 1.x Import Filter
Name[nb]=Karbon 1.x importfilter
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/x-karbon
X-KDE-Weight=1
X-KDE-Library=artwork1ximport
X-KDE-ServiceTypes=KOfficeFilter
