[Desktop Entry]
Type=Service
Name=OpenOffice.org Calc Import Filter for KCells
Name[bg]=Филтър за внасяне от OpenOffice.org Calc в KCells
Name[ca]=Filtre d'importació OpenOffice.org Calc per al KCells
Name[ca@valencia]=Filtre d'importació OpenOffice.org Calc per al KCells
Name[cs]=Importní filtr OpenOffice.org Calc pro KCells
Name[da]=OpenOffice.org-Calc importfilter til KCells
Name[de]=KCells-OpenOffice.org-Calc-Importfilter
Name[es]=Filtro de importación de OpenOffice.org Calc para KCells
Name[et]=KCellsi OpenOffice.org Calci impordifilter
Name[eu]=KCells-en iragazkia OpenOffice.org Calc-etik inportatzeko
Name[fr]=Filtre d'importation OpenOffice.org Calc pour KCells
Name[ga]=Scagaire Iompórtála OpenOffice.org Calc le haghaidh KCells
Name[ja]=KCells のための OpenOffice.org Calc インポートフィルタ
Name[kk]=OpenOffice.org Calc -> KCells импорт сүзгісі
Name[nb]=OpenOffice.org Calc-importfilter for KCells
Name[nds]="OpenOffice.org Calc"-Importfilter för KCells
Name[nl]=OpenOffice.org Calc-importfilter voor KCells
Name[pl]=Filtr importu formatu OpenOffice.org dla KCells
Name[pt]=Filtro de Importação de OpenOffice.org Calc para o KCells
Name[pt_BR]=Filtro de Importação OpenOffice.org Calc para o KCells
Name[sk]=OpenOffice.org filter pre import z KCells
Name[sv]=OpenOffice.org Calc-importfilter för Kcells
Name[uk]=Фільтр імпорту OpenOffice.org Calc для KCells
Name[x-test]=xxOpenOffice.org Calc Import Filter for KCellsxx
Name[zh_TW]=KCells 的 OpenOffice.org Calc 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/vnd.sun.xml.calc,application/vnd.sun.xml.calc.template
X-KDE-Weight=1
X-KDE-Library=opencalcimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
