[Desktop Entry]
Type=Service
Name=OpenOffice.org Calc Export Filter for KCells
Name[nl]=OpenOffice.org Calc-exportfilter voor KCells
Name[pt]=Filtro de Exportação de OpenOffice.org Calc para o KCells
Name[sv]=OpenOffice.org Calc-exportfilter för Kcells
Name[uk]=Фільтр експорту OpenOffice.org Calc для KCells
Name[x-test]=xxOpenOffice.org Calc Export Filter for KCellsxx
X-KDE-Export=application/vnd.sun.xml.calc
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
X-KDE-Library=opencalcexport
X-KDE-ServiceTypes=KOfficeFilter
