[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Artwork/CoreModule
Comment=Core functionality module for Artwork
Comment[cs]=Základní modul funkcionality pro grafiku
Comment[da]=Kernefunktionalitetsmodul for Artwork
Comment[de]=Kernmodul für Artwork
Comment[eu]=Artelanen nukleo-funtzionaltasunaren modulua
Comment[nb]=Kjernefunksjonalitet-modul for Artwork
Comment[nds]=Karnmoduul för Artwork
Comment[nl]=Kernfunctionaliteitmodule voor Artwork
Comment[pt]=Módulo de funcionalidade de base para o Artwork
Comment[pt_BR]=Módulo de funcionalidade de base para o Artwork
Comment[sv]=Modul med kärnfunktioner för Artwork
Comment[uk]=Модуль базової функціональності Artwork
Comment[x-test]=xxCore functionality module for Artworkxx
Comment[zh_TW]=Artwork 的核心功能模組
