[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Artwork/CoreModule
Comment=Core functionality module for Artwork
Comment[bg]=Модул с основната функционалност на Artwork
Comment[bs]=Modul funkcionalnosti jezgra za Artwork
Comment[ca]=Mòdul de funcionalitat principal per a Artwork
Comment[ca@valencia]=Mòdul de funcionalitat principal per a Artwork
Comment[cy]=Modiwl swyddogaeth craidd ar gyfer Artwork
Comment[da]=Kernefunktionalitetsmodul for Artwork
Comment[de]=Kernmodul für Artwork
Comment[el]=Άρθρωμα βασικών λειτουργιών για το  Artwork
Comment[en_GB]=Core functionality module for Artwork
Comment[eo]=Kernfunkcia modulo por Artwork
Comment[es]=Módulo de funcionalidad principal para Artwork
Comment[et]=Artworki tuumikfunktsioonide moodul
Comment[fa]=پیمانۀ کارآمدی هسته برای Artwork
Comment[fi]=Artworkin perustoiminnallisuusmoduuli
Comment[fr]=Module de fonctionnalités centrales de Artwork
Comment[fy]=Kernfunksjonaliteitsmodule foar Artwork
Comment[gl]=Módulo de funcionalidade de base para Artwork
Comment[he]=ליבת המודולים של Artwork
Comment[hi]=कारबन के लिए कोर फंक्शनलिटी मॉड्यूल
Comment[hne]=कारबन बर कोर फंक्सनलिटी माड्यूल
Comment[hu]=Artwork alapmodul
Comment[is]=Grunnvirkni eining fyrir Artwork
Comment[it]=Modulo di funzionalità fondamentale per Artwork
Comment[ja]=Artwork の中核的な機能モジュール
Comment[kk]=Artwork-ның негізгі функционалдық модулі
Comment[lv]=Karbom pamatfunkcionalitātes modulis
Comment[nb]=Artwork-modul for kjernefunksjonalitet
Comment[nds]=Karnmoduul för Artwork
Comment[ne]=कार्बनका लागि कोर कार्यात्मक मोड्युल
Comment[nl]=Kernfunctionaliteitmodule voor Artwork
Comment[pl]=Moduł podstawowej funkcjonalności dla Artwork
Comment[pt]=Módulo de funcionalidade de base para o Artwork
Comment[pt_BR]=Módulo de funcionalidade de base para o Artwork
Comment[ru]=Базовый модуль Artwork
Comment[sk]=Základný funkčný modul pre Artwork
Comment[sl]=Modul za osnovne zmožnosti Artworka
Comment[sv]=Modul med kärnfunktioner för Artwork
Comment[tg]=Модули коркарди система барои Artwork
Comment[tr]=Artwork için temel işlevsellik modülü
Comment[uk]=Модуль базової функціональності Artwork
Comment[wa]=Module di fonccionålité do cour po Artwork
Comment[x-test]=xxCore functionality module for Artworkxx
Comment[zh_CN]=Artwork 的核心功能模块
Comment[zh_TW]=Artwork 的核心功能模組
