[Desktop Entry]
Type=Service
Name=KCells Applix Spreadsheet Import Filter
Name[bg]=Филтър за внасяне от Applix Spreadsheet в KCells
Name[bs]=KSpread Applix proračunske tabele  unosni Filter
Name[ca]=Filtre d'importació per a fulls de càlcul Applix per al KCells
Name[ca@valencia]=Filtre d'importació per a fulls de càlcul Applix per al KCells
Name[cs]=Importní filtr KCells Applix Spreadsheet
Name[da]=KCells Applix regnearks-importfilter
Name[de]=KCells-Applix-Spreadsheet-Importfilter
Name[es]=Filtro importación de hojas de cálculo de Applix para KCells
Name[et]=KCellsi Applixi tabelite impordifilter
Name[eu]=KCells Applix-en iragazkia kalkulu-orriak inportatzeko
Name[fi]=KCells Applix taulukkolaskenta -tuontisuodin
Name[fr]=Filtre d'importation Applix Spreadsheet de KCells
Name[ga]=Scagaire Iompórtála Scarbhileog Applix le haghaidh KCells
Name[hu]=KCells Applix munkafüzet importszűrő
Name[ja]=KCells Applix スプレッドシート インポートフィルタ
Name[kk]=Applix Spreadsheet -> KCells импорт сүзгісі
Name[nb]=Applix-regnearkimportfilter for KCells
Name[nds]="Applix-Tabellenutreken"-Importfilter för KCells
Name[nl]=Applix Spreadsheet-importfilter voor KCells
Name[pl]=Filtr importu formatu arkusza kalkulacyjnego Applix do KCells
Name[pt]=Filtro de Importação de Applix Spreadsheet para o KCells
Name[pt_BR]=Filtro de Importação Applix Spreadsheet para o KCells
Name[sk]=Applix Spreadsheet filter pre import pre KCells
Name[sv]=Kcells-importfilter för Applix-kalkylark
Name[uk]=Фільтр імпорту Applix Spreadsheet для KCells
Name[x-test]=xxKCells Applix Spreadsheet Import Filterxx
Name[zh_TW]=KCells Applix 電子表單匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-applix-spreadsheet
X-KDE-Weight=1
X-KDE-Library=applixspreadimport
X-KDE-ServiceTypes=KOfficeFilter
