[Desktop Entry]
Type=Service
Name=KCells Applix Spreadsheet Import Filter
Name[nl]=Applix Spreadsheet-importfilter voor KCells
Name[pt]=Filtro de Importação de Applix Spreadsheet para o KCells
Name[sv]=Kcells-importfilter för Applix-kalkylark
Name[uk]=Фільтр імпорту Applix Spreadsheet для KCells
Name[x-test]=xxKCells Applix Spreadsheet Import Filterxx
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-applix-spreadsheet
X-KDE-Weight=1
X-KDE-Library=applixspreadimport
X-KDE-ServiceTypes=KOfficeFilter
