[Desktop Entry]
Type=Service
Name=HTML Import Filter for KCells
Name[ca]=Filtre d'importació HTML per al KCells
Name[ca@valencia]=Filtre d'importació HTML per al KCells
Name[cs]=HTML importní filtr pro KCells
Name[da]=HTML-importfilter til KCells
Name[de]=KCells-HTML-Importfilter
Name[en_GB]=HTML Import Filter for KCells
Name[es]=Filtro de KCells de importación de HTML
Name[et]=KCellsi HTML-i impordifilter
Name[fr]=Filtre d'importation HTML pour KCells
Name[ga]=Scagaire Iompórtála HTML le haghaidh KCells
Name[it]=Filtro di importazione HTML per KCells
Name[ja]=KCells HTML インポートフィルタ
Name[nb]=HTML-importfilter for KCells
Name[nds]=HTML-Importfilter för KCells
Name[nl]=HTML-importfilter voor KCells
Name[pt]=Filtro de Importação de HTML para o KCells
Name[pt_BR]=Filtro de importação HTML para o KCells
Name[ru]=Фильтр импорта таблиц KCells в HTML
Name[sv]=HTML-importfilter för Kspread
Name[uk]=Фільтр імпорту HTML для KCells
Name[wa]=Passete d' abagaedje HTML po KCells
Name[x-test]=xxHTML Import Filter for KCellsxx
Name[zh_CN]=KCells 的 HTML 导入过滤器
Name[zh_TW]=KCells 的 HTML 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=text/html
X-KDE-Weight=50
X-KDE-Library=kcellshtmlimport
X-KDE-ServiceTypes=KOfficeFilter
