[Desktop Entry]
Type=Service
Name=HTML Export Filter for KCells
Name[af]=Html Voer uit Filter vir Kspread
Name[bg]=Филтър за експортиране от KCells в HTML
Name[br]=Sil ezporzh HTML evit KCells
Name[ca]=Filtre d'exportació HTML per al KCells
Name[ca@valencia]=Filtre d'exportació HTML per al KCells
Name[cs]=HTML exportní filtr pro KCells
Name[cy]=Hidlen Allforio HTML i KCells
Name[da]=HTML-eksportfilter for KCells
Name[de]=KCells-HTML-Exportfilter
Name[el]=Φίλτρο εξαγωγής HTML για το KCells
Name[en_GB]=HTML Export Filter for KCells
Name[eo]=HTML-eksportfiltrilo por KCells
Name[es]=Filtro de KCells de exportación a HTML
Name[et]=KCellsi HTML-i ekspordifilter
Name[eu]=KCells-en HTML esportaziorako iragazkia
Name[fa]=پالایۀ صادرات زنگام برای KCells
Name[fi]=HTML-vientisuodin KCellsiin
Name[fr]=Filtre d'exportation HTML de KCells
Name[fy]=HTML-Eksportfilter foar KCells
Name[ga]=Scagaire Easpórtála HTML le haghaidh KCells
Name[gl]=Filtro de Exportación de HTML para KCells
Name[he]=מסנן ייצוא מ־KCells ל־HTML
Name[hi]=केस्प्रेड के लिए एचटीएमएल निर्यात फ़िल्टर
Name[hne]=केस्प्रेड बर एचटीएमएल निर्यात फिल्टर
Name[hr]=HTML filtar izvoza za KCells
Name[hu]=HTML exportszűrő a KCellshez
Name[is]=HTML útflutningssía fyrir KCells
Name[it]=Filtro di esportazione HTML per KCells
Name[ja]=KCells HTML エクスポートフィルタ
Name[kk]=KCells -> HTML экспорт сүзгісі
Name[lt]=HTML eksporto filtras skirtas KCells
Name[lv]=HTML eksporta filtrs priekš KCells
Name[ms]=Penapis Eksport HTML bagi KCells
Name[nb]=HTML-eksportfilter for KCells
Name[nds]=HTML-Exportfilter för KCells
Name[ne]=केडीई स्प्रेडका लागि एचटीएमएल निर्यात फिल्टर
Name[nl]=HTML-exportfilter voor KCells
Name[pl]=Filtr eksportu do formatu HTML dla KCells
Name[pt]=Filtro de Exportação de HTML para o KCells
Name[pt_BR]=Filtro de Exportação HTML para o KCells
Name[ro]=Filtru exportare KCells pentru HTML
Name[ru]=Фильтр экспорта таблиц KCells в HTML
Name[se]=KCells:a HTML-olggosfievrridansilli
Name[sk]=HTML filter pre export z KCells
Name[sl]=Izvozni filter HTML za Kspread
Name[sv]=HTML-exportfilter för Kspread
Name[ta]=கேஸ்பெரட்க்கான எச்டிஎம்எல் ஏற்றுமதி வடிகட்டி
Name[tg]=Филтри содиротии HTML барои KCells
Name[tr]=KCells için HTML Aktarma Filtresi
Name[uk]=Фільтр експорту HTML для KCells
Name[uz]=KCells uchun HTML eksport filteri
Name[uz@cyrillic]=KCells учун HTML экспорт филтери
Name[wa]=Passete d' ebagaedje HTML po KCells
Name[xh]=HTML Yesihluzi Sokurhweba ngaphandle se KCells
Name[x-test]=xxHTML Export Filter for KCellsxx
Name[zh_CN]=KCells 的 HTML 导出过滤器
Name[zh_TW]=KCells 的 HTML 匯出過濾程式
X-KDE-Export=text/html
X-KDE-Import=application/x-kcells
X-KDE-Weight=50
X-KDE-Library=kcellshtmlexport
X-KDE-ServiceTypes=KOfficeFilter
