[Desktop Entry]
Type=Service
Name=HTML Import Filter for KCells
Name[bg]=Филтър за внасяне от HTML в KCells
Name[ca]=Filtre d'importació HTML per al KCells
Name[ca@valencia]=Filtre d'importació HTML per al KCells
Name[cs]=Importní filtr HTML pro KCells
Name[da]=HTML-importfilter til KCells
Name[de]=KCells-HTML-Importfilter
Name[et]=KCellsi HTML-i impordifilter
Name[eu]=KCells-en iragazkia HTMLtik inportatzeko
Name[kk]=HTML -> KCells импорт сүзгісі
Name[nb]=HTML-importfilter for KCells
Name[nds]=HTML-Importfilter för KCells
Name[nl]=HTML-importfilter voor KCells
Name[pl]=Filtr eksportu do formatu HTML dla KCells
Name[pt]=Filtro de Importação de HTML para o KCells
Name[pt_BR]=Filtro de importação HTML para o KCells
Name[sv]=HTML-importfilter för Kcells
Name[uk]=Фільтр імпорту HTML для KCells
Name[x-test]=xxHTML Import Filter for KCellsxx
Name[zh_TW]=KCells 的 HTML 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=text/html
X-KDE-Weight=50
X-KDE-Library=kcellshtmlimport
X-KDE-ServiceTypes=KOfficeFilter
