[Desktop Entry]
Type=Service
Name=HTML Import Filter for KCells
Name[nl]=HTML-importfilter voor KCells
Name[pt]=Filtro de Importação de HTML para o KCells
Name[sv]=HTML-importfilter för Kcells
Name[uk]=Фільтр імпорту HTML для KCells
Name[x-test]=xxHTML Import Filter for KCellsxx
Name[zh_TW]=KCells 的 HTML 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=text/html
X-KDE-Weight=50
X-KDE-Library=kcellshtmlimport
X-KDE-ServiceTypes=KOfficeFilter
