[Desktop Entry]
Type=Service
Name=HTML Export Filter for KCells
Name[bg]=Филтър за изнасяне от KCells в HTML
Name[ca]=Filtre d'exportació HTML per al KCells
Name[ca@valencia]=Filtre d'exportació HTML per al KCells
Name[cs]=HTML exportní filtr pro KCells
Name[da]=HTML-eksportfilter til KCells
Name[de]=KCells-HTML-Exportfilter
Name[es]=Filtro de exportación a HTML para KCells
Name[et]=KCellsi HTML-i ekspordifilter
Name[eu]=KCells-en iragazkia HTMLra esportatzeko
Name[fr]=Filtre d'exportation HTML de KCells
Name[ga]=Scagaire Easpórtála HTML le haghaidh KCells
Name[hu]=HTML exportszűrő a KCells-hez
Name[ja]=KCells のための HTML エクスポートフィルタ
Name[kk]=KCells -> HTML экспорт сүзгісі
Name[nb]=HTML-eksportfilter for KCells
Name[nds]=HTML-Exportfilter för KCells
Name[nl]=HTML-exportfilter voor KCells
Name[pl]=Filtr eksportu do formatu HTML dla KCells
Name[pt]=Filtro de Exportação de HTML para o KCells
Name[pt_BR]=Filtro de Exportação HTML para o KCells
Name[sk]=HTML filter pre export z KCells
Name[sv]=HTML-exportfilter för Kcells
Name[uk]=Фільтр експорту HTML для KCells
Name[x-test]=xxHTML Export Filter for KCellsxx
Name[zh_TW]=KCells 的 HTML 匯出過濾程式
X-KDE-Export=text/html
X-KDE-Import=application/x-kcells
X-KDE-Weight=50
X-KDE-Library=kcellshtmlexport
X-KDE-ServiceTypes=KOfficeFilter
