[Desktop Entry]
Type=Service
Name=HTML Export Filter for KCells
Name[ca]=Filtre d'exportació HTML per al KCells
Name[nl]=HTML-exportfilter voor KCells
Name[pt]=Filtro de Exportação de HTML para o KCells
Name[pt_BR]=Filtro de Exportação HTML para o KCells
Name[sv]=HTML-exportfilter för Kcells
Name[uk]=Фільтр експорту HTML для KCells
Name[x-test]=xxHTML Export Filter for KCellsxx
Name[zh_TW]=KCells 的 HTML 匯出過濾程式
X-KDE-Export=text/html
X-KDE-Import=application/x-kcells
X-KDE-Weight=50
X-KDE-Library=kcellshtmlexport
X-KDE-ServiceTypes=KOfficeFilter
