[Desktop Entry]
Name=KWord
Name[af]=Kword
Name[eo]=Verkilo
Name[is]=Ritvinnsla
Name[ko]=K글틀
Name[lv]=KWords
Name[mi]=KKupu
Name[pt_BR]=KWord - processador de texto
Name[sv]=Kword
Name[xx]=xx
Exec=kword
X-KDE-Library=libkwordpart
Comment=Word Processing
Comment[af]=Woord Verwerking
Comment[ar]=معالجة الكلمات
Comment[az]=Kəlmə İşləmə
Comment[bg]=Текстов процес
Comment[bs]=Obrada teksta
Comment[cs]=Textový procesorr
Comment[da]=Tekstbehandling
Comment[de]=Textverarbeitung
Comment[el]=Επεξεργασία Κειμένου
Comment[eo]=Verkado kaj aranĝo de tekstoj
Comment[es]=Procesamiento de textos
Comment[et]=Tekstitöötlus
Comment[fi]=Tekstinkäsittely
Comment[fr]=Traitement de texte
Comment[he]=עיבוד תמלילים
Comment[hu]=szövegszerkesztő
Comment[is]=Ritvinnsla
Comment[it]=Videoscrittura
Comment[ja]=ワープロ
Comment[ko]=글틀
Comment[lt]=Tekstų apdorojimas
Comment[lv]=Tekstu apstrāde
Comment[nl]=Tekstverwerking
Comment[pl]=Przetwarzanie tekstów
Comment[pt]=Processamento de Texto
Comment[pt_BR]=Processamento de Texto
Comment[ro]=Procesare text
Comment[ru]=Текстовый процессор
Comment[sk]=Textové procesory
Comment[sl]=Urejanje besedila
Comment[sr]=Obrada teksta
Comment[sv]=Ordbehandling
Comment[ta]=¦º¡ø ¦¾¡Ìò¾ø
Comment[tr]=Kelime İşleme
Comment[uk]=Текстовий процесор
Comment[ven]=Uita Maipfi
Comment[vi]=Xử lý Word
Comment[xh]=Uqhubekeko Lwegama
Comment[xx]=xx
Comment[zh_CN]=字处理
Comment[zu]=Uqhubekelo phambili lwegama
MimeType=application/x-kword
Type=Application
Icon=kword
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart,text/plain,application/x-kword-crypt
X-KDE-NativeMimeType=application/x-kword
DocPath=kword/index.html
X-KDE-StartupNotify=true
