[Desktop Entry]
Type=Service
Name=Quattro Pro Import Filter for KCells
Name[af]=Quattro Pro In voer Filter vir Kspread
Name[bg]=Филтър за импортиране от Quattro Pro в KCells
Name[br]=Sil enporzh Quattro Pro evit KCells
Name[ca]=Filtre d'importació Quattro Pro per al KCells
Name[ca@valencia]=Filtre d'importació Quattro Pro per al KCells
Name[cs]=Quattro Pro importní filtr pro KCells
Name[cy]=Hidlen Fewnforio Quattro Pro i KCells
Name[da]=Quattro Pro-importfilter for KCells
Name[de]=KCells-Quattro-Pro-Importfilter
Name[el]=Φίλτρο εισαγωγής Quattro Pro για το KCells
Name[en_GB]=Quattro Pro Import Filter for KCells
Name[eo]=Quattro Pro - importfiltrilo por KCells
Name[es]=Filtro de KCells de importación de Quattro Pro
Name[et]=KCellsi Quattro Pro impordifilter
Name[eu]=KCells-en Quattro Pro inportaziorako iragazkia
Name[fa]=پالایۀ واردات Quattro Pro برای KCells
Name[fi]=Quattro Pro tuontisuodin KCellsiin
Name[fr]=Filtre d'importation Quattro Pro pour KCells
Name[fy]=Quattro Pro Ymportfilter foar KCells
Name[ga]=Scagaire Iompórtála Quattro Pro le haghaidh KCells
Name[gl]=Filtro de Importación de Quattro Pro para KCells
Name[he]=מסנן ייבוא מ־Quattro Pro ל־KCells
Name[hi]=केस्प्रेड के लिए क्वात्रो प्रो आयात फ़िल्टर
Name[hne]=केस्प्रेड बर क्वात्रो प्रो आयात फिल्टर
Name[hr]=Quattro Pro filtar uvoza za KCells
Name[hu]=Quattro Pro importszűrő a KCellshez
Name[is]=Quattro Pro innflutningssía fyrir KCells
Name[it]=Filtro di importazione Quattro Pro per KCells
Name[ja]=KCells Quattro Pro インポートフィルタ
Name[kk]=Quattro Pro -> KCells импорт сүзгісі
Name[lt]=Quattro Pro importo filtras skirtas KCells
Name[lv]=Quattro Pro importa filtrs priekš KCells
Name[ms]=Penapis Import Quattro Pro bagi KCells
Name[nb]=Quattro Pro-importfilter for KCells
Name[nds]="Quattro Pro"-Importfilter för KCells
Name[ne]=केडीई स्प्रेडका लागि क्वाट्रो प्रो आयात फिल्टर
Name[nl]=Quattro Pro-importfilter voor KCells
Name[pl]=Filtr importu formatu Quattro Pro dla KCells
Name[pt]=Filtro de Importação de Quattro Pro para o KCells
Name[pt_BR]=Filtro de Importação Quattro Pro para o KCells
Name[ro]=Filtru importare KWord pentru Quattro Pro
Name[ru]=Фильтр импорта таблиц Quattro Pro в KCells
Name[se]=KCells:a Quattro Pro-sisafievrridansilli
Name[sk]=Filter pre import Quattro Pro do KCells
Name[sl]=Uvozni filter Quattro Pro za KCells
Name[sv]=Quattro Pro-importfilter för Kspread
Name[ta]=கேஸ்பெரட்க்கான குவாட்ரோ புரோ இறக்குமதி வடிகட்டி
Name[tg]=Филтри воридотии Quattro Pro барои KCells
Name[tr]=KCells için Quattro Pro Alma Filtresi
Name[uk]=Фільтр імпорту Quattro Pro для KCells
Name[uz]=KCells uchun Quattro Pro import filteri
Name[uz@cyrillic]=KCells учун Quattro Pro импорт филтери
Name[wa]=Passete d' abagaedje Quattro Pro po KCells
Name[xh]=Quattro Pro Yesihluzi Sokurhweba se KCells
Name[x-test]=xxQuattro Pro Import Filter for KCellsxx
Name[zh_CN]=KCells 的 Quattro Pro 导入过滤器
Name[zh_TW]=KCells 的 Quattro Pro 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-quattropro
X-KDE-Weight=1
X-KDE-Library=qproimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
