[Desktop Entry]
Type=Service
Name=Quattro Pro Import Filter for KCells
Name[ca]=Filtre d'importació Quattro Pro per al KCells
Name[ca@valencia]=Filtre d'importació Quattro Pro per al KCells
Name[cs]=Importní filtr Quattro Pro pro KCells
Name[da]=Quattro Pro-importfilter til KCells
Name[de]=KCells-Quattro-Pro-Importfilter
Name[et]=KCellsi Quattro Pro impordifilter
Name[kk]=Quattro Pro -> KCells импорт сүзгісі
Name[nb]=Quattro Pro-importfilter for KCells
Name[nds]="Quattro Pro"-Importfilter för KCells
Name[nl]=Quattro Pro-importfilter voor KCells
Name[pl]=Filtr importu formatu Quattro Pro dla KCells
Name[pt]=Filtro de Importação de Quattro Pro para o KCells
Name[pt_BR]=Filtro de Importação Quattro Pro para o KCells
Name[sv]=Quattro Pro-importfilter för Kcells
Name[uk]=Фільтр імпорту Quattro Pro для KCells
Name[x-test]=xxQuattro Pro Import Filter for KCellsxx
Name[zh_TW]=KCells 的 Quattro Pro 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-quattropro
X-KDE-Weight=1
X-KDE-Library=qproimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
