[Desktop Entry]
Name=KPresenter
Name[af]=Kpresenter
Name[eo]=Prezentilo
Name[ko]=K프리젠터
Name[mk]=K-презентација
Name[nl]=Kpresenter
Name[pt_BR]=KPresenter - Gerador de apresentações
Name[sv]=Kpresenter
Name[ven]=Mulanguli wa K
Name[xh]=Umbonisi we K
Name[xx]=xx
Name[zu]=Umbonikeleli we K
Exec=kpresenter
X-KDE-Library=libkpresenterpart
Comment=Slide Presentations
Comment[af]=Skuif Voorleggings
Comment[ar]=عروض تقديمية
Comment[az]=Dilim Tamaşası
Comment[bg]=Програма за подготовка на презентаций от KOffice
Comment[bs]=Prezentacije slajdova
Comment[cs]=Prezentace na slídách
Comment[da]=Lysbilled-præsentationer
Comment[de]=Folien-Präsentationen
Comment[el]=Παρουσιάσεις σε slides
Comment[eo]=Prezentilo por informfolioj
Comment[es]=Presentación de diapositivas
Comment[et]=Presentatsioonide redaktor
Comment[fi]=Diaesitykset
Comment[fr]=Présentations par transparents
Comment[he]=מצגות שקפים
Comment[hu]=bemutatókészítő
Comment[is]=Varpi:  Smíða glærur og halda kynningar
Comment[it]=Presentazioni
Comment[ja]=スライドプレゼンテーション
Comment[lt]=Skaidrių pristatymai
Comment[lv]=Slaidu Prezentācijas
Comment[mt]=Preżentazzjonijiet bi slides
Comment[nl]=Diapresentaties
Comment[pl]=Prezentacje slajdów
Comment[pt]=Apresentações
Comment[pt_BR]=Apresentações de Slides
Comment[ro]=Prezentare secvenţială
Comment[ru]=Слайдовые презентации
Comment[sk]=Prezentácia
Comment[sl]=Predstavitve na diapozitivih
Comment[sr]=Slajd prezentacije
Comment[sv]=Stordiabildspresentationer
Comment[tr]=Slayt Sunumları
Comment[uk]=Презентації слайдів
Comment[ven]=Matalutshedzele a daba
Comment[vi]=Trình biểu diễn khung hình
Comment[xh]=Iziboniso ezityibilikayo
Comment[xx]=xx
Comment[zh_CN]=幻灯片演示
Comment[zu]=Iziboniso Ezishibikayo
MimeType=application/x-kpresenter
Type=Application
Icon=kpresenter
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-kpresenter
X-DCOP-ServiceType=multi
DocPath=kpresenter/index.html
X-KDE-StartupNotify=true
