[Desktop Entry]
Type=Service
Name=Showcase MNG Export Filter
Name[et]=Showcase'i MNG ekspordifilter
Name[nl]=MNG-exportfilter voor Showcase
Name[pt]=Filtro de Exportação de MNG para o Showcase
Name[pt_BR]=Filtro de exportação de MNG para o Showcase
Name[sv]=Showcase MNG-exportfilter
Name[uk]=Фільтр експорту MNG для Showcase
Name[x-test]=xxShowcase MNG Export Filterxx
Name[zh_TW]=Showcase MNG 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=video/x-mng
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
