[Desktop Entry]
Type=Service
Name=Showcase BMP Export Filter
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/x-bmp
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
