[Desktop Entry]
Type=Service
Name=Showcase XPM Export Filter
Name[bg]=Филтър за експортиране от Showcase в XPM
Name[br]=Sil ezporzh XPM evit Showcase
Name[ca]=Filtre d'exportació XPM per al Showcase
Name[ca@valencia]=Filtre d'exportació XPM per al Showcase
Name[cs]=Exportní filtr do formátu XPM pro Showcase
Name[da]=Showcase XPM-eksportfilter
Name[de]=Showcase-XPM-Exportfilter
Name[el]=Φίλτρο εξαγωγής XPM του Showcase
Name[en_GB]=Showcase XPM Export Filter
Name[eo]=Showcase XBM-eksportfiltrilo
Name[es]=Filtro de Showcase de exportación a XPM
Name[et]=Showcasei XPM-i filter
Name[fa]=پالایۀ صادرات Showcase XPM
Name[fi]=Showcase XPM -vientisuodin
Name[fr]=Filtre d'exportation XPM de Showcase
Name[fy]=XPM-Eksportfilter foar Showcase
Name[ga]=Scagaire Easpórtála XPM Showcase
Name[gl]=Filtro de Exportación de XPM para Showcase
Name[he]=Showcase XPM מסנן יצוא
Name[hi]=केप्रेजेन्टर एक्सपीएम निर्यात फ़िल्टर
Name[hne]=केप्रेजेन्टर एक्सपीएम निर्यात फिल्टर
Name[hr]=Showcase XPM filtar izvoza
Name[hu]=Showcase XPM exportszűrő
Name[is]=Showcase XPM útflutningssía
Name[it]=Filtro di esportazione XPM per Showcase
Name[ja]=Showcase XPM エクスポートフィルタ
Name[kk]=Showcase -> XPM экспорт сүзгісі
Name[lt]=Showcase XPM eksportavimo filtras
Name[lv]=Showcase XPM eksporta filtrs
Name[nb]=XPM_eksportfilter for Showcase
Name[nds]=XPM-Exportfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ता एक्सपीएम निर्यात फिल्टर
Name[nl]=XPM-exportfilter voor Showcase
Name[pl]=Filtr eksportu do formatu XPM dla Showcase
Name[pt]=Filtro de Exportação de XPM para o Showcase
Name[pt_BR]=Filtro de Exportação XPM para o Showcase
Name[ru]=Фильтр экспорта презентаций Showcase в XPM
Name[sk]=Exportný filter Showcase XPM
Name[sl]=Izvozni filter XPM za Showcase
Name[sv]=Kpresenter XPM-exportfilter
Name[tg]=Филтри содиротии Showcase XPM
Name[tr]=Showcase XPM Aktarma Filtresi
Name[uk]=Фільтр експорту XPM для Showcase
Name[uz]=Showcase XPM eksport filteri
Name[uz@cyrillic]=Showcase XPM экспорт филтери
Name[wa]=Passete d' ebagaedje XPM di Showcase
Name[x-test]=xxShowcase XPM Export Filterxx
Name[zh_CN]=Showcase XPM 导出过滤器
Name[zh_TW]=Showcase XPM 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/x-xpm
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
