[Desktop Entry]
Type=Service
Name=Showcase PNG Export Filter
Name[bg]=Филтър за експортиране от Kpresenter в PNG
Name[br]=Sil ezporzh PNG evit Showcase
Name[ca]=Filtre d'exportació PNG per al Showcase
Name[ca@valencia]=Filtre d'exportació PNG per al Showcase
Name[cs]=Exportní filtr do formátu PNG pro Showcase
Name[cy]=Hidlen Allforio PNG Showcase
Name[da]=Showcase PNG-eksportfilter
Name[de]=Showcase-PNG-Exportfilter
Name[el]=Φίλτρο εξαγωγής PNG του Showcase
Name[en_GB]=Showcase PNG Export Filter
Name[eo]=Showcase PNG-eksportfiltrilo
Name[es]=Filtro de Showcase de exportación a PNG
Name[et]=Showcasei PNG ekspordifilter
Name[fa]=پالایۀ صادرات Showcase PNG
Name[fi]=Showcase PNG -vientisuodin
Name[fr]=Filtre d'exportation PNG de Showcase
Name[fy]=PMG-Eksportfilter foar Showcase
Name[ga]=Scagaire Easpórtála PNG Showcase
Name[gl]=Filtro de Exportación de PNG para Showcase
Name[he]=Showcase PNG מסנן יצוא
Name[hi]=केप्रेजेन्टर पीएनजी निर्यात फ़िल्टर
Name[hne]=केप्रेजेन्टर पीएनजी निर्यात फिल्टर
Name[hr]=Showcase PNG filtar izvoza
Name[hu]=Showcase PNG exportszűrő
Name[is]=Showcase PNG útflutningssía
Name[it]=Filtro di esportazione PNG per Showcase
Name[ja]=Showcase PNG エクスポートフィルタ
Name[kk]=Showcase -> PNG экспорт сүзгісі
Name[lt]=Showcase PNG eksportavimo filtras
Name[lv]=Showcase PNG eksporta filtrs
Name[nb]=PNG-eksportfilter for Showcase
Name[nds]=PNG-Exportfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ता पीएनजी निर्यात फिल्टर
Name[nl]=PNG-exportfilter voor Showcase 
Name[pl]=Filtr eksportu do formatu PNG dla Showcase
Name[pt]=Filtro de Exportação de PNG para o Showcase
Name[pt_BR]=Filtro de Exportação PNG para o Showcase
Name[ru]=Фильтр экспорта презентаций Showcase в PNG
Name[sk]=Exportný filter Showcase PNG
Name[sl]=Izvozni filter PNG za Showcase
Name[sv]=Kpresenter PNG-exportfilter
Name[tg]=Филтри содиротии Showcase PNG
Name[tr]=Showcase PNG Aktarma Filtresi
Name[uk]=Фільтр експорту PNG для Showcase
Name[uz]=Showcase PNG eksport filteri
Name[uz@cyrillic]=Showcase PNG экспорт филтери
Name[wa]=Passete d' ebagaedje PNG di Showcase
Name[x-test]=xxShowcase PNG Export Filterxx
Name[zh_CN]=Showcase PNG 导出过滤器
Name[zh_TW]=Showcase PNG 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/png
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
