[Desktop Entry]
Type=Service
Name=Showcase XBM Export Filter
Name[et]=Showcase'i XBM-i ekspordifilter
Name[pt]=Filtro de Exportação de XBM para o Showcase
Name[pt_BR]=Filtro de exportação de XBM para o Showcase
Name[sv]=Showcase XBM-exportfilter
Name[uk]=Фільтр експорту XBM для Showcase
Name[x-test]=xxShowcase XBM Export Filterxx
Name[zh_TW]=Showcase XBM 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/x-xbm
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
