[Desktop Entry]
Type=Service
Name=Showcase XPM Export Filter
Name[et]=Showcase'i XPM-i ekspordifilter
Name[nl]=XPM-exportfilter voor Showcase
Name[pt]=Filtro de Exportação de XPM para o Showcase
Name[pt_BR]=Filtro de exportação de XPM para o KChart
Name[sv]=Showcase XPM-exportfilter
Name[uk]=Фільтр експорту XPM для Showcase
Name[x-test]=xxShowcase XPM Export Filterxx
Name[zh_TW]=Showcase XPM 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/x-xpm
X-KDE-Weight=1
X-KDE-Library=kpresentergenericimageexport
X-KDE-ServiceTypes=KOfficeFilter
