[Desktop Entry]
Icon=
Name=Artwork PNG Export Filter
Name[cs]=Grafický exportní filtr PDF
Name[da]=Artwork PNG-eksportfilter
Name[de]=Artwork-PNG-Exportfilter
Name[nb]=PNG-eksportfilter for Artwork
Name[nds]=PNG-Exportfilter för Artwork
Name[nl]=PNG-exportfilter voor Artwork
Name[pt]=Filtro de Exportação de PNG para o Artwork
Name[pt_BR]=Filtro de Exportação PNG para o Artwork
Name[sv]=Artwork PNG-exportfilter
Name[uk]=Фільтр експорту PNG з Artwork
Name[x-test]=xxArtwork PNG Export Filterxx
Name[zh_TW]=Artwork PNG 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/png
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Library=artworkpngexport
X-KDE-Weight=1
