[Desktop Entry]
Name=Artwork Tools
Name[bs]=Artwork Alati
Name[ca]=Eines del Artwork
Name[ca@valencia]=Eines del Artwork
Name[cs]=Nástroje Artworku
Name[da]=Artwork-værktøjer
Name[de]=Artwork-Werkzeuge
Name[el]=Εργαλεία Artwork
Name[en_GB]=Artwork Tools
Name[es]=Herramientas de Artwork
Name[et]=Artworki tööriistad
Name[fa]=ابزار Artwork
Name[fi]=Artwork-työkalut
Name[fr]=Outils de Artwork
Name[fy]=Artwork ark
Name[ga]=Uirlisí Artwork
Name[gl]=Ferramentas de Artwork
Name[he]=כלי Artwork
Name[hi]=कारबन औज़ार
Name[hne]=कारबन औजार
Name[it]=Strumenti di Artwork
Name[ja]=Artwork ツール
Name[kk]=Artwork құралдары
Name[lv]=Artwork rīki
Name[nb]=Artwork-verktøy
Name[nds]=Artwork-Warktüüch
Name[ne]=कार्बन उपकरण
Name[nl]=Hulpmiddelen voor Artwork
Name[pl]=Narzędzia Artwork
Name[pt]=Ferramentas do Artwork
Name[pt_BR]=Ferramentas do Artwork
Name[sv]=Artwork-verktyg
Name[tg]=Асбобҳои Artwork
Name[tr]=Artwork Araçları
Name[uk]=Засоби Artwork
Name[wa]=Usteyes di Artwork
Name[x-test]=xxArtwork Toolsxx
Name[zh_CN]=Artwork 工具
Name[zh_TW]=Artwork 工具
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=artworktools
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
