[Desktop Entry]
Name=Artwork Tools
Name[sv]=Artwork-verktyg
Name[uk]=Засоби Artwork
Name[x-test]=xxArtwork Toolsxx
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=artworktools
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
