[Desktop Entry]
Name=Artwork Tools
Name[cs]=Nástroje grafiky
Name[da]=Artwork-værktøjer
Name[de]=Artwork-Werkzeuge
Name[es]=Herramientas de Artwork
Name[et]=Artworki tööriistad
Name[eu]=Artelanen tresnak
Name[ga]=Uirlisí Artwork
Name[kk]=Artwork құралдары
Name[nb]=Artwork-verktøy
Name[nds]=Artwork-Warktüüch
Name[nl]=Hulpmiddelen voor Artwork
Name[pl]=Narzędzia Artwork
Name[pt]=Ferramentas do Artwork
Name[pt_BR]=Ferramentas do Artwork
Name[sk]=Nástroje grafického dizajnu
Name[sv]=Artwork-verktyg
Name[uk]=Засоби Artwork
Name[x-test]=xxArtwork Toolsxx
Name[zh_TW]=Artwork 工具
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=artworktools
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
