[Desktop Entry]
Type=Service
Name=Showcase SVG Export Filter
Name[bg]=Филтър за експортиране от Showcase в SVG
Name[br]=Sil ezporzh SVG evit Showcase
Name[ca]=Filtre d'exportació SVG per al Showcase
Name[ca@valencia]=Filtre d'exportació SVG per al Showcase
Name[cs]=Exportní filtr do formátu SVG pro Showcase
Name[cy]=Hidlen Allforio SVG Showcase
Name[da]=Showcase SVG-eksportfilter
Name[de]=Showcase-SVG-Exportfilter
Name[el]=Φίλτρο εξαγωγής SVG του Showcase
Name[en_GB]=Showcase SVG Export Filter
Name[eo]=Showcase PNG-eksportfiltrilo
Name[es]=Filtro de Showcase de exportación a SVG
Name[et]=Showcasei SVG ekspordifilter
Name[fa]=پالایۀ صادرات Showcase SVG
Name[fi]=Showcase SVG -vientisuodin
Name[fr]=Filtre d'exportation SVG de Showcase
Name[fy]=SVG-Eksportfilter foar Showcase
Name[ga]=Scagaire Easpórtála SVG Showcase
Name[gl]=Filtro de Exportación de SVG para Showcase
Name[he]=Showcase SVG מסנן יצוא
Name[hi]=केप्रेजेन्टर एसवीजी निर्यात फ़िल्टर
Name[hne]=केप्रेजेन्टर एसवीजी निर्यात फिल्टर
Name[hr]=Showcase SVG filtar izvoza
Name[hu]=Showcase SVG exportszűrő
Name[is]=Showcase SVG útflutningssía
Name[it]=Filtro di esportazione SVG per Showcase
Name[ja]=Showcase SVG エクスポートフィルタ
Name[kk]=Showcase -> SVG экспорт сүзгісі
Name[lt]=Showcase SVG eksportavimo filtras
Name[lv]=Showcase SVG eksporta filtrs
Name[nb]=SVG-eksportfilter for Showcase
Name[nds]=SVG-Exportfilter för Showcase
Name[ne]=केडीई प्रस्तुतकर्ता एसभीजी निर्यात फिल्टर
Name[nl]=SVG-exportfilter voor Showcase
Name[pl]=Filtr eksportu do formatu SVG dla Showcase
Name[pt]=Filtro de Exportação de SVG para o Showcase
Name[pt_BR]=Filtro de Exportação SVG para o Showcase
Name[ru]=Фильтр экспорта презентаций Showcase в SVG
Name[sk]=Exportný filter Showcase SVG
Name[sl]=Izvozni filter SVG za Showcase
Name[sv]=Kpresenter SVG-exportfilter
Name[tg]=Филтри содиротии Showcase SVG
Name[tr]=Showcase SVG Aktarma Filtresi
Name[uk]=Фільтр експорту SVG для Showcase
Name[uz]=Showcase SVG eksport filteri
Name[uz@cyrillic]=Showcase SVG экспорт филтери
Name[wa]=Passete d' ebagaedje SVG di Showcase
Name[x-test]=xxShowcase SVG Export Filterxx
Name[zh_CN]=Showcase SVG 导出过滤器
Name[zh_TW]=Showcase SVG 匯出過濾程式
X-KDE-Import=application/x-kpresenter
X-KDE-Export=image/svg+xml
X-KDE-Weight=1
X-KDE-Library=kpresentersvgexport
X-KDE-ServiceTypes=KOfficeFilter
