[Desktop Entry]
Name=Illustration Document
Name[af]=Illustrasie Dokument
Name[ar]=مستند KIllustrator
Name[az]=Nümunə Sənədi
Name[bg]=Документ на илюстратора
Name[bs]=Ilustracioni dokument
Name[cs]=Ilustrace
Name[da]=Illustrations-dokument
Name[de]=Illustrations-Dokument
Name[el]=Έγγραφο Σχεδίασης
Name[eo]=Ilustrilo-dokumento
Name[es]=Documento de ilustración
Name[et]=Illustratsioon
Name[eu]=KIllustrator Dokumentua
Name[fi]=Illustrator asiakirja
Name[fr]=Illustration
Name[gl]=Documento de Ilustración
Name[he]=מסמך איור
Name[hu]=KIllustrator dokumentum
Name[id]=Dokumen Illustrator
Name[is]=Kynningarskjal
Name[it]=Documento di illustrazione
Name[ja]=イラスト ドキュメント
Name[ko]=삽화 그림
Name[lt]=KIllustrator dokumentas
Name[lv]=Ilustrācijas Dokuments
Name[mt]=Dokument Illustrazzjoni
Name[nb]=Illustrasjon
Name[nl]=Illustratiedocument
Name[nn]=Illustrasjon
Name[pl]=Dokument Illustration
Name[pt]=Ilustração
Name[pt_BR]=Documento de ilustração
Name[ro]=Document ilustraţie
Name[ru]=Документ иллюстратора
Name[sk]=Ilustrácia
Name[sl]=Sestavek za Killustrator
Name[sr]=Dokument ilustracija
Name[sv]=Illustration
Name[ta]=Illustration ¬Å½õ
Name[th]=เอกสารภาพวาด Illustration
Name[tr]=Örnek Belgesi
Name[uk]=Документ ілюстрації
Name[ven]=Manwalwa au sumbedzisa
Name[vi]=Tài liệu Illustration
Name[xh]=Uxwebhu lokucacisa
Name[xx]=xx
Name[zh_CN]=Illustrator 文档
Name[zh_TW]=Illustrator 文件
Name[zu]=Idokhumenti Yokucacisa
Comment=New KIllustrator Document
Comment[af]=Nuwe Killustrator Dokument
Comment[bs]=Novi KIllustrator dokument
Comment[cs]=Nový dokument KIllustratoru
Comment[da]=Nyt KIllustrator dokument
Comment[de]=Neue Illustration
Comment[el]=Νέο έγγραφο του KIllustrator
Comment[eo]=Nova Ilustrilo-dokumento
Comment[es]=Nuevo documento de KIllustrator
Comment[fr]=Nouveau document Kontour
Comment[he]=מסמך KIllustrator חדש
Comment[hu]=új KIllustrator dokumentum
Comment[is]=Nýtt KIllustrator skjal
Comment[it]=Nuovo documento KIllustrator
Comment[ja]=新規KIllustratorドキュメント
Comment[lt]=Naujas KIllustrator dokumentas
Comment[lv]=Jauns Ilustratora Dokuments
Comment[nl]=Nieuw KIllustrator-document
Comment[pl]=Nowy dokument KIllustratora
Comment[pt]=Novo documento do KIllustrator
Comment[pt_BR]=Novo documento do KIllustrator
Comment[ru]=Создать документ KIllustrator
Comment[sk]=Nový dokument KIllustrator
Comment[sl]=Nov dokument za Kontour
Comment[sv]=Nytt Killustrator-dokument
Comment[uk]=Документ KIllustrator
Comment[ven]=Manwalwa maswa a tshisumbedzi tsha K
Comment[vi]=Tài liệu KIllustrator mới
Comment[xh]=Uxwebhu Olutsha lwe KIllustrator
Comment[zu]=Omusha Umkhombisi  ka Wedokhumenti
Type=Link
URL=.source/Illustration.kil
Icon=kontour
