[Desktop Entry]
Type=Service
Name=MS Excel 2007 Import Filter for KCells
Name[nl]=MS Excel 2007 importfilter voor KCells
Name[pt]=Filtro de Exportação de Microsoft Excel 2007 para o KCells
Name[sv]=Microsoft Excel 2007-importfilter för Kcells
Name[uk]=Фільтр експорту MS Excel 2007 для KCells
Name[x-test]=xxMS Excel 2007 Import Filter for KCellsxx
Name[zh_TW]=KCells 的 Microsoft Excel 2007 匯出過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.spreadsheet
X-KDE-Import=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.ms-excel.sheet.macroEnabled,application/vnd.ms-excel.sheet.macroEnabled.12,application/vnd.ms-excel.template.macroEnabled.12
X-KDE-Weight=1
X-KDE-Library=xlsximport
X-KDE-LibraryMajor=0
X-KDE-LibraryMinor=1
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
