[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KCells/Plugin
Comment=Plugin for KCells
Comment[bg]=Приставка за KCells
Comment[ca]=Connector per al KCells
Comment[ca@valencia]=Connector per al KCells
Comment[cs]=Modul pro KCells
Comment[da]=Plugin til KCells
Comment[de]=Modul für KCells
Comment[el]=Πρόσθετο για το KCells
Comment[en_GB]=Plugin for KCells
Comment[es]=Complemento para KCells
Comment[et]=KCellsi plugin
Comment[fr]=Module pour Kspread
Comment[ga]=Breiseán KCells
Comment[gl]=Extensión par KCells
Comment[he]=תוסף של KCells
Comment[hne]=केस्प्रेड बर प्लगइन
Comment[hr]=Priključak za KCells
Comment[it]=Estensione per KCells
Comment[ja]=KCells のプラグイン
Comment[kk]=KCells-ке арналған плагин
Comment[lv]=KCells spraudnis
Comment[nb]=Programtillegg for KCells
Comment[nds]=Moduul för KSpred
Comment[nl]=Plugin voor KCells
Comment[pt]='Plugin' para o KCells
Comment[pt_BR]=Plug-in para o KCells
Comment[sl]=Vstavek za KCells
Comment[sv]=Insticksprogram för Kspread
Comment[tr]=KCells için Eklenti
Comment[uk]=Додаток для KCells
Comment[wa]=Tchôke-divins po KCells
Comment[x-test]=xxPlugin for KCellsxx
Comment[zh_CN]=KCells 插件
Comment[zh_TW]=KCells 外掛程式
[PropertyDef::X-KCells-InterfaceVersion]
Type=int
