[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/PageEffect
Comment=Page effect plugin for Showcase
[PropertyDef::X-Showcase-Version]
Type=int
