[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/PageEffect
Comment=Page effect plugin for Showcase
Comment[bg]=Приставка за ефекти в страниците на Showcase
Comment[ca]=Connector d'efectes de pàgina per al Showcase
Comment[ca@valencia]=Connector d'efectes de pàgina per al Showcase
Comment[da]=Sideeffekt-plugin til Showcase
Comment[de]=Seiteneffektmodul für Showcase
Comment[el]=Πρόσθετο εφέ σελίδας για το Showcase
Comment[en_GB]=Page effect plugin for Showcase
Comment[es]=Complemento de efectos de página para Showcase
Comment[et]=Showcasei leheküljeefektide plugin
Comment[fi]=Sivutehosteliitännäinen Showcase-ohjelmaa varten
Comment[fr]=Module extérieur d'effet de page pour Kpresenter
Comment[fy]=Side-effektplugin foar Showcase
Comment[ga]=Breiseán maisíochta leathanaigh le haghaidh Showcase
Comment[gl]=Extensión de efectos de páxina para Kpresenter
Comment[hi]=केप्रेजेन्टर के लिए पृष्ठ प्रभाव प्लगइन
Comment[hne]=केप्रेजेन्टर बर पेज प्रभाव प्लगइन
Comment[it]=Estensione per gli effetti di pagina per Showcase
Comment[ja]=Showcase ページ効果プラグイン
Comment[kk]=Showcase-дің бет эффект плагині
Comment[lv]=Showcase lapu efektu spraudnis
Comment[nb]=Showcase-programtillegg for sideeffekter
Comment[nds]=Bildeffektmoduul för Showcase
Comment[nl]=Pagina-effectplugin voor Showcase
Comment[pt]='Plugin' de efeitos das páginas do Showcase
Comment[pt_BR]=Plug-in de efeitos das páginas do Showcase
Comment[sv]=Insticksprogram med sideffekter för Showcase
Comment[tr]=Showcase için Sayfa efekti eklentisi
Comment[uk]=Додаток ефектів сторінки для Showcase
Comment[wa]=Tchôke-divins d' efets po les pådjes po Showcase
Comment[x-test]=xxPage effect plugin for Showcasexx
Comment[zh_CN]=Showcase 页面效果插件
Comment[zh_TW]=Showcase 頁面效果外掛程式
[PropertyDef::X-Showcase-Version]
Type=int
