[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/PageEffect
Name=Page Effect
Name[bg]=Ефект за страници
Name[ca]=Efecte de pàgina
Name[ca@valencia]=Efecte de pàgina
Name[da]=Sideeffekt
Name[de]=Seiteneffekt
Name[es]=Efecto de página
Name[et]=Leheküljeefekt
Name[eu]=Orrialdearen efektua
Name[kk]=Парақ эффекті
Name[nb]=Tone-effekt
Name[nds]=Bildeffekt
Name[nl]=Pagina-effect
Name[pl]=Efekty strony
Name[pt]=Efeito da Página
Name[pt_BR]=Efeito de página
Name[sv]=Sideffekt
Name[uk]=Ефект сторінки
Name[x-test]=xxPage Effectxx
Name[zh_TW]=頁面效果
Comment=Page effect plugin for Showcase
Comment[bg]=Приставка за ефекти в страниците на Showcase
Comment[ca]=Connector d'efectes de pàgina per al Showcase
Comment[ca@valencia]=Connector d'efectes de pàgina per al Showcase
Comment[da]=Sideeffekt-plugin til Showcase
Comment[de]=Seiteneffektmodul für Showcase
Comment[es]=Complemento de efectos de página para Showcase
Comment[et]=Showcase'i leheküljeefektide plugin
Comment[eu]=Showcase-ren plugina orrialdearen efektuarentzako
Comment[kk]=Showcase-дің бет эффект плагині
Comment[nb]=KPresenter-programtillegg for sideeffekter
Comment[nds]=Bildeffektmoduul för Showcase
Comment[nl]=Pagina-effectplugin voor Showcase
Comment[pl]=Wtyczka efektu strony dla Pokazu
Comment[pt]='Plugin' de efeitos das páginas do Showcase
Comment[pt_BR]=Plugin de efeitos das páginas do Showcase
Comment[sv]=Insticksprogram med sideffekter för Showcase
Comment[uk]=Додаток ефектів сторінки для Showcase
Comment[x-test]=xxPage effect plugin for Showcasexx
Comment[zh_TW]=Showcase 頁面效果外掛程式
[PropertyDef::X-Showcase-Version]
Type=int
