[Desktop Entry]
X-KDE-Export=text/x-tex
ExportDescription=LATEX
Icon=
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
ImportDescription=KCells
Name=KCells LATEX Export Filter
Name[bg]=Филтър за изнасяне от KCells в LATEX
Name[ca]=Filtre d'exportació LATEX per al KCells
Name[ca@valencia]=Filtre d'exportació LATEX per al KCells
Name[cs]=Rxportní filtr KCells LaTeX
Name[da]=KCells LaTeX-eksportfilter
Name[de]=KCells-LaTeX-Exportfilter
Name[es]=Filtro de exportación a LaTeX para KCells
Name[et]=KCellsi LaTeXi ekspordifilter
Name[eu]=KCells-en iragazkia LaTeX-era esportatzeko
Name[ga]=Scagaire Easpórtála LaTeX le haghaidh KCells
Name[kk]=KCells -> LATEX экспорт сүзгісі
Name[nb]=LaTeX-eksportfilter for KCells
Name[nds]=LaTeX-Exportfilter för KCells
Name[nl]=LATEX-exportfilter voor KCells
Name[pl]=Filtr eksportu do formatu LaTeX z KCells
Name[pt]=Filtro de Exportação de LATEX para o KCells
Name[pt_BR]=Filtro de Exportação LATEX para o KCells
Name[sk]=Exportný filter LaTeX pre KCells
Name[sv]=Kcells Latex-exportfilter
Name[uk]=Фільтр експорту LATEX для KCells
Name[x-test]=xxKCells LATEX Export Filterxx
Name[zh_TW]=KCells LATEX 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kcellslatexexport
