[Desktop Entry]
X-KDE-Export=text/x-tex
ExportDescription=LATEX
Icon=
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
ImportDescription=KCells
Name=KCells LATEX Export Filter
Name[ca]=Filtre d'exportació LATEX per al KCells
Name[da]=KCells LaTeX-eksportfilter
Name[nb]=LaTeX-eksportfilter for KCells
Name[nl]=LATEX-exportfilter voor KCells
Name[pt]=Filtro de Exportação de LATEX para o KCells
Name[pt_BR]=Filtro de Exportação LATEX para o KCells
Name[sv]=Kcells Latex-exportfilter
Name[uk]=Фільтр експорту LATEX для KCells
Name[x-test]=xxKCells LATEX Export Filterxx
Name[zh_TW]=KCells LATEX 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kcellslatexexport
