[Desktop Entry]
X-KDE-Export=text/x-tex
ExportDescription=LATEX
Icon=
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
ImportDescription=KCells
Name=KCells LATEX Export Filter
Name[bg]=Филтър за експортиране от KCells в LATEX
Name[br]=Sil ezporzh LATEX evit KCells 
Name[ca]=Filtre d'exportació LATEX per al KCells
Name[ca@valencia]=Filtre d'exportació LATEX per al KCells
Name[cs]=KCells LaTeX exportní filtr
Name[cy]=Hidlen Allforio LATEX KCells
Name[da]=KCells LaTeX-eksportfilter
Name[de]=KCells-LaTeX-Exportfilter
Name[el]=Φίλτρο εξαγωγής LATEX του KCells
Name[en_GB]=KCells LATEX Export Filter
Name[eo]=KCells LaTeX-eksportfiltrilo
Name[es]=Filtro de KCells de exportación a LaTeX
Name[et]=KCellsi LaTeXi ekspordifilter
Name[eu]=KCells-en LaTeX esportaziorako iragazkia
Name[fa]=پالایۀ صادرات KCells LATEX
Name[fi]=KCells LaTeX-vientisuodin
Name[fr]=Filtre d'exportation LaTeX de Kspread
Name[fy]=KCells LATEX Eksportfilter
Name[ga]=Scagaire Easpórtála LaTeX le haghaidh KCells
Name[gl]=Filtro de Exportación de LATEX para KCells
Name[he]=מסנן ייצוא מ־KCells ל־LATEX
Name[hi]=केस्प्रेड लेटेक्स निर्यात फ़िल्टर
Name[hne]=केस्प्रेड लेटेक्स निर्यात फिल्टर
Name[hr]=KCells LaTeX filtar izvoza
Name[hu]=KCells LaTeX exportszűrő
Name[is]=KCells LATEX útflutningssía
Name[it]=Filtro di esportazione LaTeX per KCells
Name[ja]=KCells LATEX エクスポートフィルタ
Name[kk]=KCells -> LATEX экспорт сүзгісі
Name[lt]=KCells LATEX eksportavimo filtras
Name[lv]=KCells LATEX eksporta filtrs
Name[ms]=Penapis Eksport KCells LATEX 
Name[nb]=LaTeX-eksportfilter for KCells
Name[nds]=LaTeX-Exportfilter för KCells
Name[ne]=केडीई स्प्रेड लेटेक्स निर्यात फिल्टर
Name[nl]=LATEX-exportfilter voor KCells
Name[pl]=Filtr eksportu do formatu LaTeX z KCells
Name[pt]=Filtro de Exportação de LATEX para o KCells
Name[pt_BR]=Filtro de Exportação LATEX para o KCells
Name[ru]=Фильтр экспорта таблиц KCells в LaTeX
Name[se]=KCells:a LaTeX-olggosfievrridansilli
Name[sk]=LATEX filter pre export z KCells
Name[sl]=Izvozni filter LaTeX za KCells
Name[sv]=Kspread Latex-exportfilter
Name[ta]=கேஸ்பெரட்க்கான லேடக்ஸ் ஏற்றுமதி வடிகட்டி
Name[tg]=Филтри содиротии LATEX барои KCells
Name[tr]=KCells LATEX Aktarma Filtresi
Name[uk]=Фільтр експорту LATEX для KCells
Name[uz]=KCells uchun LaTeX eksport filteri
Name[uz@cyrillic]=KCells учун LaTeX экспорт филтери
Name[wa]=Passete d' ebagaedje LATEX di KCells
Name[x-test]=xxKCells LATEX Export Filterxx
Name[zh_CN]=KCells LATEX 导出过滤器
Name[zh_TW]=KCells LATEX 匯出過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kcellslatexexport
