[Desktop Entry]
Type=Service
Name=Kontour XFig Import Filter
Name[af]=Kontoer Xfig In voer Filter
Name[ar]=استيراد من XFig الى Kontour
Name[az]=Kontour XFig Alma Süzgəci
Name[be]=Фільтар Kontour імпарту з XFig
Name[bg]=Филтър за импорт на XFig към Контур
Name[cs]=Importní filtr XFig pro Kontour
Name[da]=Kontour XFig Importfilter
Name[de]=Kontour-Importfilter für XFig-Dateien
Name[el]=Φίλτρο Εισαγωγής XFig του Kontour
Name[eo]=XFig-importfiltrilo por Konturilo
Name[es]=Filtro de importación XFig de Kontour
Name[et]=Kontouri XFig import filter
Name[eu]=Kontour XFig Inportatzeko Iragazkia
Name[fi]=Kontour XFig tuontisuodin
Name[fr]=Filtre d'importation xFig de Kontour
Name[he]=מסנן ייבוא XFig ל-Kontour
Name[hu]=Kontour XFig importszűrő
Name[is]=XFig innflutningssía fyrir Kontour forritið
Name[it]=Filtro di importazione XFig per Kontour
Name[ja]=Kontour XFig インポートフィルター
Name[lt]=Kountour filtras importuoti XFig
Name[lv]=Kontour XFig Importa Filtrs
Name[nb]=XFig-importfilter for Kontour
Name[nl]=Kontour XFig Importfilter
Name[nn]=XFig-importfilter for Kontour
Name[pl]=Filtr importujący pliki XFiga do Kontoura
Name[pt]=Filtro de Importação do XFig do Kontour
Name[pt_BR]=Filtro de importação XFIG  para o Kontour
Name[ro]=Filtru importare Kontour pentru XFig
Name[ru]=Фильтр импорта файлов XFig в Kontour
Name[sk]=Filter pre import XFig pre Kontour
Name[sl]=Uvozni filter XFig za Kontour
Name[sv]=Kontour XFig-importfilter
Name[ta]=Kontour XFig ­ÈìÌÁ¾¢ ÅÊ¸ðÊ
Name[tr]=Kontour XFig Alma Süzgeci
Name[uk]=Фільтр імпорту XFig для Kontour
Name[ven]=Filithara yau u dzhenisa ya Xfig ya Kontour
Name[vi]=Trình lọc nhập XFig cho Kontour
Name[xh]=Kontour XFig Icebo lokucoca lorhwebo langaphakathi
Name[xx]=xx
Name[zh_CN]=Kontour XFig 导入过滤程序
Name[zh_TW]=Kontour XFig 匯入過濾程式
Export=application/x-kontour
Import=image/x-xfig
Implemented=kodocument
X-KDE-Library=libxfigimport
ServiceTypes=KOfficeFilter
