[Desktop Entry]
Type=Service
Name=SVG Export Filter for Kontour
Name[af]=Svg Voer uit Filter vir Kontoer
Name[ar]=تصدير من SVG الى Kontour
Name[az]=Kontour üçün SVG İdxal Süzgəci
Name[be]=Фільтар Kontour экспарту ў SVG
Name[bs]=SVG Export Filter za Kontour
Name[cs]=SVG exportní filtr pro Kontour
Name[da]=SVG Eksport-filter for Kontour
Name[de]=SVG-Exportfilter für Kontour
Name[el]=Φίλτρο Εξαγωγής SVG για το Kontour
Name[eo]=SVG-Eksportfiltrilo por Konturilo
Name[es]=Filtro de exportación SVG para Kontour
Name[et]=Kontouri SVG eksport filter
Name[eu]=SVG Exportatzeko Iragazkia for Kontour
Name[fi]=SVG vientisuodin Kontouria varten
Name[fr]=Filtre d'exportation SVG de Kontour
Name[he]=מסנן ייצוא SVG של Kontour
Name[hu]=SVG exportszűrő a Kontourhoz
Name[is]=SVG útflutningssía fyrir Kontour forritið
Name[it]=Filtro di esportazione SVG per Kontour
Name[ja]=Kontour用 SVG エクスポートフィルター
Name[lt]=SVG eksporto filtras skirtas Kountour
Name[lv]=SVG Eksporta Filtrs Kontouram
Name[nb]=SVG-eksportfilter for Kontour
Name[nl]=SVG-Exportfilter voor Kontour
Name[nn]=SVG-eksportfilter for Kontour
Name[pl]=Filtr eksportujący pliki SVG z Kontoura
Name[pt]=Filtro de Exportação de SVG para o Kontour
Name[pt_BR]=Filtro de exportação SVG para o Kontour
Name[ro]=Filtru exportare Kontour pentru SVG
Name[ru]=Фильтр экспорта файлов SVG в Kontour
Name[sk]=Filter pre export SVG pre Kontour
Name[sl]=Izvozni filer SVG za Kontour
Name[sv]=SVG-exportfilter för Kontour
Name[ta]=Kontour ­ü¸¡É SVG ²üÚÁ¾¢ ÅÊ¸ðÊ
Name[tr]=Kontour için SVG verme süzgeci
Name[uk]=Фільтр експорту SVG для Kontour
Name[ven]=Filithara ya bvisela nga nnda ya SVG ya Kontour
Name[vi]=Trình lọc xuất SVG cho Kontour
Name[xh]=SVG Icebo lokucoca lorhwebo langaphakathi le Kontour
Name[xx]=xx
Name[zh_CN]=Kontour SVG 导出过滤程序
Name[zh_TW]=Kontour 的 SVG 匯出過濾程式
Name[zu]=I VG Export Filter for Kontour
Export=image/x-svg
Import=application/x-kontour
Implemented=file
X-KDE-Library=libsvgexport
ServiceTypes=KOfficeFilter
