[Desktop Entry]
Type=Service
Name=GNUMERIC Import Filter for KCells
Name[af]=Gnumeric In voer Filter vir Kspread
Name[bg]=Филтър за импортиране от GNUmeric в KCells
Name[br]=Sil enporzh GNUMERIC evit KCells
Name[ca]=Filtre d'importació GNUMERIC per al KCells
Name[ca@valencia]=Filtre d'importació GNUMERIC per al KCells
Name[cs]=Gnumeric importní filtr pro KCells
Name[cy]=Hidlen Fewnforio GNUmeric i Kspread
Name[da]=GNUmeric-importfilter for KCells
Name[de]=KCells-GNUmeric-Importfilter
Name[el]=Φίλτρο εισαγωγής GNUMERIC για το KCells
Name[en_GB]=GNUmeric Import Filter for KCells
Name[eo]=GNUmeric-importfiltrilo por KCells
Name[es]=Filtro de KCells de importación de GNUmeric
Name[et]=KCellsi GNUmerici impordifilter
Name[eu]=KCells-en GNUmerci inportaziorako iragazkia
Name[fa]=پالایۀ واردات GNUMERIC برای KCells
Name[fi]=Gnumeric tuontisuodin KCellsiin
Name[fr]=Filtre d'importation GNUmeric de KCells
Name[fy]=GNUMERIC-Ymportfilter foar KCells
Name[ga]=Scagaire Iompórtála GNUmeric le haghaidh KCells
Name[gl]=Filtro de Importación de GNUMERIC para KCells
Name[he]=מסנן ייבוא מ־GNUmeric ל־KCells
Name[hi]=केस्प्रेड के लिए ग्नूमेरिक आयात फ़िल्टर
Name[hne]=केस्प्रेड बर ग्नूमेरिक आयात फिल्टर
Name[hr]=GNUmeric filtar uvoza za KCells
Name[hu]=Gnumeric importszűrő a KCellshez
Name[is]=GNUMERIC innflutningssía fyrir KCells
Name[it]=Filtro di importazione GNUmeric per KCells
Name[ja]=KCells GNUmeric インポートフィルタ
Name[kk]=GNUMERIC -> KCells импорт сүзгісі
Name[lt]=GNUMERIC importo filtras skirtas KCells
Name[lv]=GNUMERIC importa filtrs priekš KCells
Name[ms]=Penapis Import GNUMERIC bagi KCells
Name[nb]=GNUmeric-importfilter for KCells
Name[nds]=GNUmeric-Importfilter för KCells
Name[ne]=केडीई स्प्रेडका लागि जिन्यूमेरिक आयात फिल्टर
Name[nl]=GNUmeric-importfilter voor KCells
Name[pl]=Filtr importu formatu GNUmeric dla KCells
Name[pt]=Filtro de Importação de GNUMERIC para o KCells
Name[pt_BR]=Filtro de Importação GNUMERIC para o KCells
Name[ro]=Filtru importare KCells pentru GNUMERIC
Name[ru]=Фильтр импорта таблиц GNUmeric в KCells
Name[se]=KCells:a GNUmeric-sisafievrridansilli
Name[sk]=Filter pre import Gnumeric pre KCells
Name[sl]=Uvozni filter GNUmeric za KCells
Name[sv]=Gnumeric-importfilter för Kspread
Name[ta]=கேஸ்பெரட்க்கான குனுமரிக் இறக்குமதி வடிகட்டி
Name[tg]=Филтри воридотии GNUMERIC барои KCells
Name[tr]=KCells için GNUMERIC Alma Filtresi
Name[uk]=Фільтр імпорту GNUMERIC для KCells
Name[uz]=KCells uchun GNUmeric import filteri
Name[uz@cyrillic]=KCells учун GNUmeric импорт филтери
Name[wa]=Passete d' abagaedje GNUmeric po KCells
Name[xh]=GNUMERIC Yesihluzi Sorhwebo se KCells
Name[x-test]=xxGNUMERIC Import Filter for KCellsxx
Name[zh_CN]=KCells 的 GNUmeric 导入过滤器
Name[zh_TW]=KCells 的 GNUmeric 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-gnumeric
X-KDE-Weight=1
X-KDE-Library=gnumericimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
