[Desktop Entry]
Type=Service
Name=GNUMERIC Import Filter for KCells
Name[bg]=Филтър за внасяне от GNUmeric в KCells
Name[ca]=Filtre d'importació GNUMERIC per al KCells
Name[ca@valencia]=Filtre d'importació GNUMERIC per al KCells
Name[cs]=Gnumeric importní filtr pro KCells
Name[da]=GNUmeric-importfilter til KCells
Name[de]=KCells-GNUmeric-Importfilter
Name[es]=Filtro de importación de GNUmeric para KCells
Name[et]=KCellsi GNUmerici impordifilter
Name[eu]=KCells-en iragazkia GNUMERIC-etik inportatzeko
Name[fi]=Gnumeric-tuontisuodin KCellsiin
Name[fr]=Filtre d'importation GNUmeric de KCells
Name[ga]=Scagaire Iompórtála GNUmeric le haghaidh KCells
Name[hu]=GNUmeric importszűrő a KCells-hez
Name[ja]=KCells のための GNUmeric インポートフィルタ
Name[kk]=GNUMERIC -> KCells импорт сүзгісі
Name[nb]=GNUmeric-importfilter for KCells
Name[nds]=GNUmeric-Importfilter för KCells
Name[nl]=GNUmeric-importfilter voor KCells
Name[pl]=Filtr importu formatu GNUmeric dla KCells
Name[pt]=Filtro de Importação de GNUMERIC para o KCells
Name[pt_BR]=Filtro de Importação GNUMERIC para o KCells
Name[sk]=Filter pre import Gnumeric pre KCells
Name[sv]=Gnumeric-importfilter för Kcells
Name[uk]=Фільтр імпорту GNUMERIC для KCells
Name[x-test]=xxGNUMERIC Import Filter for KCellsxx
Name[zh_TW]=KCells 的 GNUmeric 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-gnumeric
X-KDE-Weight=1
X-KDE-Library=gnumericimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
