[Desktop Entry]
Type=Service
Name=GNUmeric Export Filter for KCells
Name[nl]=GNUmeric-exportfilter voor KCells
Name[pt]=Filtro de Exportação de GNUmeric para o KCells
Name[sv]=dGnumeric-exportfilter för Kcells
Name[uk]=Фільтр експорту GNUmeric для KCells
Name[x-test]=xxGNUmeric Export Filter for KCellsxx
X-KDE-Export=application/x-gnumeric
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
X-KDE-Library=gnumericexport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
