[Desktop Entry]
Type=Service
Name=GNUmeric Export Filter for KCells
Name[ca]=Filtre d'exportació GNUmeric per al KCells
Name[nb]=GNUmeric-eksportfilter for KCells
Name[nl]=GNUmeric-exportfilter voor KCells
Name[pt]=Filtro de Exportação de GNUmeric para o KCells
Name[pt_BR]=Filtro de Exportação GNUmeric para o KCells
Name[sv]=dGnumeric-exportfilter för Kcells
Name[uk]=Фільтр експорту GNUmeric для KCells
Name[x-test]=xxGNUmeric Export Filter for KCellsxx
Name[zh_TW]=KCells 的 GNUmeric 匯出過濾程式
X-KDE-Export=application/x-gnumeric
X-KDE-Import=application/x-kcells
X-KDE-Weight=1
X-KDE-Library=gnumericexport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
