[Desktop Entry]
Type=Service
Name=GNUMERIC Import Filter for KCells
Name[ca]=Filtre d'importació GNUMERIC per al KCells
Name[ca@valencia]=Filtre d'importació GNUMERIC per al KCells
Name[cs]=Gnumeric importní filtr pro KCells
Name[da]=GNUmeric-importfilter til KCells
Name[de]=KCells-GNUmeric-Importfilter
Name[et]=KCellsi GNUmerici impordifilter
Name[kk]=GNUMERIC -> KCells импорт сүзгісі
Name[nb]=GNUmeric-importfilter for KCells
Name[nds]=GNUmeric-Importfilter för KCells
Name[nl]=GNUmeric-importfilter voor KCells
Name[pt]=Filtro de Importação de GNUMERIC para o KCells
Name[pt_BR]=Filtro de Importação GNUMERIC para o KCells
Name[sv]=Gnumeric-importfilter för Kcells
Name[uk]=Фільтр імпорту GNUMERIC для KCells
Name[x-test]=xxGNUMERIC Import Filter for KCellsxx
Name[zh_TW]=KCells 的 GNUmeric 匯入過濾程式
X-KDE-Export=application/x-kcells
X-KDE-Import=application/x-gnumeric
X-KDE-Weight=1
X-KDE-Library=gnumericimport
X-KDE-LibraryMajor=1
X-KDE-LibraryMinor=0
X-KDE-LibraryDependencies=
X-KDE-ServiceTypes=KOfficeFilter
