[Desktop Entry]
Type=Service
Name=Artwork SVGZ Import Filter
Name[cs]=Grafický importní filtr SVGZ
Name[da]=Artwork SVGZ-importfilter
Name[de]=Artwork-SVGZ-Importfilter
Name[lt]=Artwork SVGZ importavimo filtras
Name[nb]=SVGZ-importfilter for Artwork
Name[nds]=SVGZ-Importfilter för Artwork
Name[nl]=SVGZ-importfilter voor Artwork
Name[pt]=Filtro de Importação de SVGZ para o Artwork
Name[pt_BR]=Filtro de Importação SVGZ para o Artwork
Name[sv]=Artwork SVGZ-importfilter
Name[uk]=Фільтр імпорту SVGZ у Artwork
Name[x-test]=xxArtwork SVGZ Import Filterxx
Name[zh_TW]=Artwork SVGZ 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/svg+xml-compressed
X-KDE-Weight=1
X-KDE-Library=artworksvgimport
X-KDE-ServiceTypes=KOfficeFilter
