[Desktop Entry]
Icon=
Name=Artwork SVG Export Filter
Name[da]=Artwork SVG-eksportfilter
Name[de]=Artwork-SVG-Exportfilter
Name[nl]=SVG-exportfilter voor Artwork
Name[pt]=Filtro de Exportação de SVG para o Artwork
Name[pt_BR]=Filtro de Exportação SVG para o Artwork
Name[sv]=Artwork SVG-exportfilter
Name[uk]=Фільтр експорту SVG з Artwork
Name[x-test]=xxArtwork SVG Export Filterxx
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/svg+xml
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Library=artworksvgexport
X-KDE-Weight=1
