[Desktop Entry]
Type=Service
Name=Artwork SVGZ Import Filter
Name[bg]=Филтър за внасяне от SVGZ в Artwork
Name[bs]=Artwork SVGZ unosni Filter
Name[ca]=Filtre d'importació SVGZ per al Artwork
Name[ca@valencia]=Filtre d'importació SVGZ per al Artwork
Name[cs]=Importní filtr formátu SVGZ pro Artwork
Name[da]=SVGZ-importfilter til Artwork
Name[de]=Artwork-SVGZ-Importfilter
Name[el]=Φίλτρο εισαγωγής SVGZ του Artwork
Name[en_GB]=Artwork SVGZ Import Filter
Name[es]=Filtro de Artwork de importación de SVGZ
Name[et]=Artworki SVGZ impordifilter
Name[fi]=Artwork SVGZ-tuontisuodin
Name[fr]=Filtre d'exportation SVGZ de Artwork
Name[fy]=SVGZ-ymportfilter foar Artwork
Name[ga]=Scagaire Iompórtála Artwork SVGZ
Name[gl]=Filtro de Importación de Artwork para SVGZ
Name[he]=מסנן ייבוא מ־SVGZ ל־Artwork
Name[hi]=कार्बन एसवीजीज़ेड आयात फ़िल्टर
Name[hne]=कार्बन एसवीजीजेड आयात फिल्टर
Name[it]=Filtro di importazione SVGZ per Artwork
Name[ja]=Artwork SVGZ インポートフィルタ
Name[kk]=SVGZ -> Artwork импорт сүзгісі
Name[lv]=Artwork SVGZ importa filtrs
Name[nb]=SVGZ-importfilter for Artwork 
Name[nds]=SVGZ-Importfilter för Artwork
Name[nl]=SVG-importfilter voor Artwork
Name[pl]=Filtr importu formatu SVGZ do Artwork
Name[pt]=Filtro de Importação de SVGZ para o Artwork
Name[pt_BR]=Filtro de Importação SVGZ para o Artwork
Name[ro]=Filtru importare Artwork pentru SVGZ
Name[ru]=Фильтр импорта рисунков SVGZ в Artwork
Name[sl]=Uvozni filter SVGZ za Artwork
Name[sv]=Artwork SVGZ-importfilter
Name[tg]=Филтри воридотии Artwork SVGZ
Name[tr]=Artwork SVGZ Alma Filtresi
Name[uk]=Фільтр імпорту SVGZ у Artwork
Name[wa]=Passete d' abagaedje SVGZ di Artwork
Name[x-test]=xxArtwork SVGZ Import Filterxx
Name[zh_CN]=Artwork SVGZ 导入过滤器
Name[zh_TW]=Artwork SVGZ 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/svg+xml-compressed
X-KDE-Weight=1
X-KDE-Library=artworksvgimport
X-KDE-ServiceTypes=KOfficeFilter
