[Desktop Entry]
Icon=
Name=Artwork SVG Export Filter
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/svg+xml
X-KDE-Import=application/vnd.oasis.opendocument.graphics
X-KDE-Library=artworksvgexport
X-KDE-Weight=1
