[Desktop Entry]
Type=Service
Name=Artwork SVGZ Import Filter
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/svg+xml-compressed
X-KDE-Weight=1
X-KDE-Library=artworksvgimport
X-KDE-ServiceTypes=KOfficeFilter
