[Desktop Entry]
Type=Service
Name=Artwork SVG Import Filter
Name[cs]=Grafický importní filtr SVG
Name[da]=Artwork SVG-importfilter
Name[de]=Artwork-SVG-Importfilter
Name[es]=Filtro de importación de SVG para Artwork
Name[et]=Artworki SVG impordifilter
Name[eu]=Artelanak SVGtik inportatzeko iragazkia
Name[ga]=Scagaire Iompórtála SVG Artwork
Name[kk]=SVG -> Artwork импорт сүзгісі
Name[lt]=Artwork SVG importavimo filtras
Name[nb]=SVG-importfilter for Artwork
Name[nds]=SVG-Importfilter för Artwork
Name[nl]=SVG-importfilter voor Artwork
Name[pl]=Filtr importu formatu SVG do Artwork
Name[pt]=Filtro de Importação de SVG para o Artwork
Name[pt_BR]=Filtro de Importação SVG para o Artwork
Name[sk]=SVG filter pre import do Artwork
Name[sv]=Artwork SVG-importfilter
Name[uk]=Фільтр імпорту малюнків SVG до Artwork
Name[x-test]=xxArtwork SVG Import Filterxx
Name[zh_TW]=Artwork SVG 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=image/svg+xml
X-KDE-Weight=1
X-KDE-Library=artworksvgimport
X-KDE-ServiceTypes=KOfficeFilter
