[Desktop Entry]
Type=Service
Name=Artwork WPG Import Filter
Name[cs]=Grafický importní filtr WPG
Name[da]=Artwork WPG-importfilter
Name[de]=Artwork-WPG-Importfilter
Name[es]=Filtro de importación de WPG para Artwork
Name[et]=Artworki WPG impordifilter
Name[eu]=Artelanak WPGtik inportatzeko iragazkia
Name[fr]=Filtre d'importation WPG de Artwork
Name[ga]=Scagaire Iompórtála WPG Artwork
Name[ja]=Artwork WPG インポートフィルタ
Name[kk]=WPG -> Artwork импорт сүзгісі
Name[lt]=Artwork WPG importavimo filtras
Name[nb]=WPG-importfilter for Artwork
Name[nds]=WPG-Importfilter för Artwork
Name[nl]=WPG-importfilter voor Artwork
Name[pl]=Filtr importu formatu WPG do Artwork
Name[pt]=Filtro de Importação de WPG para o Artwork
Name[pt_BR]=Filtro de Importação WPG para o Artwork
Name[sk]=Importný filter Artwork WPG
Name[sv]=Artwork WPG-importfilter
Name[uk]=Фільтр імпорту WPG до Artwork
Name[x-test]=xxArtwork WPG Import Filterxx
Name[zh_TW]=Artwork WPG 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/x-wpg
X-KDE-Weight=1
X-KDE-Library=wpgimport
X-KDE-ServiceTypes=KOfficeFilter
