[Desktop Entry]
Type=Service
Name=Artwork WPG Import Filter
Name[bg]=Филтър за внасяне от WPG в Artwork
Name[bs]=Artwork WPG unosni Filter
Name[ca]=Filtre d'importació WPG per al Artwork
Name[ca@valencia]=Filtre d'importació WPG per al Artwork
Name[cs]=Importní filtr formátu WPG pro Artwork
Name[da]=WPG-importfilter til Artwork
Name[de]=Artwork-WPG-Importfilter
Name[el]=Φίλτρο εισαγωγής WPG του Artwork
Name[en_GB]=Artwork WPG Import Filter
Name[eo]=Artwork-WPG-importfiltrilo
Name[es]=Filtro de Artwork de importación de WPG
Name[et]=Artworki WPG impordifilter
Name[fa]=پالایۀ واردات Artwork WPG
Name[fi]=Artwork WPG-tuontisuodin
Name[fr]=Filtre d'importation WPG de Artwork
Name[fy]=WPG -Ymportfilter foar Artwork
Name[ga]=Scagaire Iompórtála Artwork WPG
Name[gl]=Filtro de Importación de Artwork WPG
Name[he]=מסנן ייבוא מ־WPG ל־Artwork
Name[hi]=कार्बन डबल्यूपीजी आयात फ़िल्टर
Name[hne]=कार्बन डबल्यूपीजी आयात फिल्टर
Name[it]=Filtro di importazione WPG per Artwork
Name[ja]=Artwork WPG インポートフィルタ
Name[kk]=WPG -> Artwork импорт сүзгісі
Name[lv]=Artwork WPG importa filtrs
Name[nb]=WPG-importfilter for Artwork 
Name[nds]=WPG-Importfilter för Artwork
Name[ne]=कार्बन डब्लुपीजी आयात फिल्टर
Name[nl]=WPG-importfilter voor Artwork
Name[pl]=Filtr importu formatu WPG do Artwork
Name[pt]=Filtro de Importação de WPG para o Artwork
Name[pt_BR]=Filtro de Importação WPG para o Artwork
Name[ro]=Filtru importare Artwork pentru WPG
Name[ru]=Фильтр импорта рисунков WPG в Artwork
Name[sl]=Uvozni filter WPG za Artwork
Name[sv]=Artwork WPG-importfilter
Name[tg]=Филтри воридотии Artwork WPG
Name[tr]=Artwork VPG Alma Filtresi
Name[uk]=Фільтр імпорту WPG у Artwork
Name[wa]=Passete d' abagaedje WPG di Artwork
Name[x-test]=xxArtwork WPG Import Filterxx
Name[zh_CN]=Artwork WPG 导入过滤器
Name[zh_TW]=Artwork WPG 匯入過濾程式
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/x-wpg
X-KDE-Weight=1
X-KDE-Library=wpgimport
X-KDE-ServiceTypes=KOfficeFilter
