[Desktop Entry]
Type=Service
Name=Artwork WPG Import Filter
Name[pt_BR]=Filtro de Importação WPG para o Artwork
Name[sv]=Artwork WPG-importfilter
Name[uk]=Фільтр імпорту WPG до Artwork
Name[x-test]=xxArtwork WPG Import Filterxx
X-KDE-Export=application/vnd.oasis.opendocument.graphics
X-KDE-Import=application/x-wpg
X-KDE-Weight=1
X-KDE-Library=wpgimport
X-KDE-ServiceTypes=KOfficeFilter
