[Desktop Entry]
Icon=.icon/BlueBreezeSingle.png
Name=Blue Breeze Single
Name[af]=Blou Brisie Enkel
Name[da]=Blue Breeze enkelt
Name[de]=Blau in Blau: einseitig
Name[eo]=Blua venteto - unuopa
Name[es]=Brisa azul simple
Name[fr]=Brise bleue, simple
Name[he]=כחול בודד
Name[hu]=Kék árnyalatok, egyszeres
Name[is]=Bláar slæður
Name[it]=Brezza blu singolo
Name[ja]=ブルーブリーズ シングル
Name[lt]=Blue Breeze viengubas
Name[lv]=Zilā Brīze Singls
Name[nb]=Blå bris enkel
Name[nn]=Blå bris enkel
Name[pl]=Pojedyncza niebieska bryza
Name[pt]=Blue Breeze Simples
Name[pt_BR]=Brisa azul simples
Name[ro]=Albastru de ardezie simplu
Name[sl]=Blue Breeze, enojni
Name[sv]=Enkel Blå bris
Name[th]=สีฟ้าอ่อนแบบเดี่ยว
Name[tr]=Mavi Meltem Tek
Name[uk]=Простий океанський бриз
Name[ven]=Hu dala hu thihi
Name[vi]= Blue Breeze Đơn
Name[xh]=Eyodwa impepho eluhlaza (okwesibhaka-bhaka)
Name[xx]=xx
Name[zh_TW]=單頁藍色和風
Name[zu]=Owodwa Umoya Oluhlaza (okwesibhaka-bhaka)
Type=Link
URL=.source/BlueBreezeSingle.kpt
X-KDE-Hidden=false
