[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/ShapeAnimation
Comment=Shape animation plugin for Showcase
[PropertyDef::X-Showcase-Version]
Type=int
