[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/ShapeAnimation
Comment=Shape animation plugin for Showcase
Comment[bg]=Приставка за анимация в Showcase
Comment[ca]=Connector d'animació de formes per al Showcase
Comment[ca@valencia]=Connector d'animació de formes per al Showcase
Comment[da]=Form-animationsplugin til Showcase
Comment[de]=Objektanimationsmodul für Showcase
Comment[el]=Πρόσθετο κίνησης σχήματος για το Showcase
Comment[en_GB]=Shape animation plugin for Showcase
Comment[es]=Complemento de Showcase de animación de formas
Comment[et]=Showcasei kujundi animeerimise plugin
Comment[fi]=Hahmojen animointiliitännäinen Showcase-ohjelmaa varten
Comment[fr]=Module extérieur d'animation de forme pour Kpresenter
Comment[fy]=Foarmanimaasjeplugin foar Showcase
Comment[ga]=Breiseán beochana giuirléidí le haghaidh Showcase
Comment[gl]=Extensión de formas para Showcase
Comment[hi]=केप्रेजेन्टर के लिए आकार एनीमेशन प्लगइन
Comment[hne]=केप्रेजेन्टर बर आकार एनीमेसन प्लगइन
Comment[it]=Estensione per l'animazione delle forme per Showcase
Comment[ja]=Showcase シェイプアニメーションプラグイン
Comment[kk]=Showcase-дің пішін анимация плагині
Comment[lv]=Showcase figūru animācijas spraudnis
Comment[nb]=Showcase-programtillegg for form-animasjoner
Comment[nds]=Form »Animatschoon-Moduul« för Showcase
Comment[nl]=Vormanimatieplugin voor Krita
Comment[pt]='Plugin' de animação de formas para o Showcase
Comment[pt_BR]=Plug-in de animação de formas para o Showcase
Comment[sv]=Insticksprogram med animeringsåtgärderför Showcase
Comment[tr]=Showcase için hareketli şekil eklentisi
Comment[uk]=Додаток анімації форм для Showcase
Comment[wa]=Tchôke-divins d' animåcions de fômes po Showcase
Comment[x-test]=xxShape animation plugin for Showcasexx
Comment[zh_CN]=Showcase 形状动画插件
Comment[zh_TW]=Showcase 元件動畫外掛程式
[PropertyDef::X-Showcase-Version]
Type=int
