[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Showcase/ShapeAnimation
Comment=Shape animation plugin for Showcase
Comment[et]=Showcase'i kujundi animeerimise plugin
Comment[nl]=Vormanimatieplugin voor Showcase
Comment[pt]='Plugin' de animação de formas para o Showcase
Comment[pt_BR]=Plug-in de animação de formas para o Showcase
Comment[sv]=Insticksprogram med animeringsåtgärderför Showcase
Comment[uk]=Додаток анімації форм для Showcase
Comment[x-test]=xxShape animation plugin for Showcasexx
Comment[zh_TW]=Showcase 元件動畫外掛程式
[PropertyDef::X-Showcase-Version]
Type=int
